<dsn-container title="ClickOutside" [description]="description" [info]="info">
        <ng-template #exampleContentTemplate>
            <div class="container-fluid">

                <div class="box-border">
                    <z-card class="card" zOuterClick (clickOutside)="onClickOutside()">
                          <div class="card--text">{{ title }}</div>
                          <div class="card--number">{{ number }}</div>
                    </z-card>
                </div>

                <div class="z-highlight-1 margin-top-80 margin-bottom-16">
                    Outputs
                </div>
                <dsn-table [list]="inputsDocumentation"></dsn-table>

                <div class="margin-top-48 margin-bottom-16">
                    <h2 class="z-highlight-1">
                        Source code
                    </h2>
                </div>

                <markdown [src]="'assets/markdown/click-outside/sample-source-01.md'"></markdown>
            </div>
        </ng-template>

</dsn-container>
