body {
    box-sizing: border-box;
    background-color: white;
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}

.p-color {
    color: #fe5000 !important;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.card {
    padding: 20px;
    margin:20px;
    display: inline-block;
    box-shadow: 0 4px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
    width: 100%;
    color: #333;
    background: white;
}

.avatar-body {
    display: flex;
    flex-direction: column;
}

.avatar-body .row {
    display: flex;
    justify-content: space-around;
}