<dsn-container [title]="'Layout'" [description]="description" [link]="link">
  <ng-template #exampleContentTemplate>
    <div class="container-fluid">

      <div class="margin-top-32 margin-bottom-32">
        <h2 class="z-highlight-1">Demo</h2>
      </div>

      <section class="margin-bottom-16">
        <p class="z-highlight-2 margin-top-16 margin-bottom-16">Responsive</p>
        <p class="z-body-text margin-bottom-32">
          Los modificadores responsivos permiten especificar diferentes tamaños de columnas, desplazamientos, alineación y distribución en los anchos de las ventanas xs, sm, md y lg.</p>
        <div class="row">
          <div class="col-xxs-6 col-xs-10 col-sm-3 col-md-2 col-lg-1">
            <div class="box-row"></div>
          </div>
          <div class="col-xxs-3 col-xs-1 col-sm-6 col-md-8 col-lg-10">
            <div class="box-row"></div>
          </div>
          <div class="col-xxs-3 col-xs-1 col-sm-3 col-md-2 col-lg-1">
            <div class="box-row"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs-12 col-xs-12 col-sm-3 col-md-2 col-lg-1">
            <div class="box-row"></div>
          </div>
          <div class="col-xxs-12 col-xs-12 col-sm-9 col-md-10 col-lg-11">
            <div class="box-row"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs-10 col-xs-10 col-sm-6 col-md-8 col-lg-10">
            <div class="box-row"></div>
          </div>
          <div class="col-xxs-2 col-xs-2 col-sm-6 col-md-4 col-lg-2">
            <div class="box-row"></div>
          </div>
        </div>
      </section>
      <markdown [data]="documentation.responsive | language : 'html'"></markdown>
      <div class="margin-top-96 margin-bottom-96 line"></div>
      <section class="margin-bottom-16">
        <p class="z-highlight-2 margin-top-80 margin-bottom-16">Fluid</p>
        <p class="z-body-text margin-bottom-32">Los anchos basados ​​en porcentajes permiten el cambio de tamaño de columnas y filas.</p>
        <div class="row">
          <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box-row"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs-11 col-xs-11 col-sm-11 col-md-11 col-lg-11">
            <div class="box-row"></div>
          </div>
          <div class="col-xxs-1 col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <div class="box-row"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs-10 col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <div class="box-row"></div>
          </div>
          <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <div class="box-row"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs-9 col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="box-row"></div>
          </div>
          <div class="col-xxs-3 col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="box-row"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs-8 col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="box-row"></div>
          </div>
          <div class="col-xxs-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="box-row"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs-7 col-xs-7 col-sm-7 col-md-7 col-lg-7">
            <div class="box-row"></div>
          </div>
          <div class="col-xxs-5 col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div class="box-row"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="box-row"></div>
          </div>
          <div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="box-row"></div>
          </div>
        </div>
      </section>
      <markdown [data]="documentation.fluid | language : 'css'"></markdown>
      <div class="margin-top-96 margin-bottom-96 line"></div>
      <section class="margin-bottom-16">
        <p class="z-highlight-2 margin-top-80 margin-bottom-16">Offsets</p>
        <p class="z-body-text margin-bottom-32">Compensar una columna.</p>
        <div class="row">
          <div class="col-xxs-offset-11 col-xxs-1 col-xs-offset-11 col-xs-1 col-sm-offset-11 col-sm-1 col-md-offset-11 col-md-1 col-lg-offset-11 col-lg-1">
            <div class="box-row"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs-offset-10 col-xxs-2 col-xs-offset-10 col-xs-2 col-sm-offset-10 col-sm-2 col-md-offset-10 col-md-2 col-lg-offset-10 col-lg-2">
            <div class="box-row"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs-offset-9 col-xxs-3 col-xs-offset-9 col-xs-3 col-sm-offset-9 col-sm-3 col-md-offset-9 col-md-3 col-lg-offset-9 col-lg-3">
            <div class="box-row"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs-offset-8 col-xxs-4 col-xs-offset-8 col-xs-4 col-sm-offset-8 col-sm-4 col-md-offset-8 col-md-4 col-lg-offset-8 col-lg-4">
            <div class="box-row"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs-offset-7 col-xxs-5 col-xs-offset-7 col-xs-5 col-sm-offset-7 col-sm-5 col-md-offset-7 col-md-5 col-lg-offset-7 col-lg-5">
            <div class="box-row"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs-offset-6 col-xxs-6 col-xs-offset-6 col-xs-6 col-sm-offset-6 col-sm-6 col-md-offset-6 col-md-6 col-lg-offset-6 col-lg-6">
            <div class="box-row"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs-offset-5 col-xxs-7 col-xs-offset-5 col-xs-7 col-sm-offset-5 col-sm-7 col-md-offset-5 col-md-7 col-lg-offset-5 col-lg-7">
            <div class="box-row"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs-offset-4 col-xxs-8 col-xs-offset-4 col-xs-8 col-sm-offset-4 col-sm-8 col-md-offset-4 col-md-8 col-lg-offset-4 col-lg-8">
            <div class="box-row"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs-offset-3 col-xxs-9 col-xs-offset-3 col-xs-9 col-sm-offset-3 col-sm-9 col-md-offset-3 col-md-9 col-lg-offset-3 col-lg-9">
            <div class="box-row"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs-offset-2 col-xxs-10 col-xs-offset-2 col-xs-10 col-sm-offset-2 col-sm-10 col-md-offset-2 col-md-10 col-lg-offset-2 col-lg-10">
            <div class="box-row"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs-offset-1 col-xxs-11 col-xs-offset-1 col-xs-11 col-sm-offset-1 col-sm-11 col-md-offset-1 col-md-11 col-lg-offset-1 col-lg-11">
            <div class="box-row"></div>
          </div>
        </div>
      </section>
      <markdown [data]="documentation.offset | language : 'html'"></markdown>
      <div class="margin-top-96 margin-bottom-96 line"></div>
      <section class="margin-bottom-16">
        <p class="z-highlight-2 margin-top-80 margin-bottom-16">Auto width</p>
        <p class="z-body-text margin-bottom-32">
          Al agregar cualquier número de columnas de tamaño automático a una fila, la cuadrícula lo resuelve.</p>
        <div class="row">
          <div class="col-xxs col-xs col-sm col-md col-lg">
            <div class="box-row"></div>
          </div>
          <div class="col-xxs col-xs col-sm col-md col-lg">
            <div class="box-row"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xxs col-xs col-sm col-md col-lg">
            <div class="box-row"></div>
          </div>
          <div class="col-xxs col-xs col-sm col-md col-lg">
            <div class="box-row"></div>
          </div>
          <div class="col-xxs col-xs col-sm col-md col-lg">
            <div class="box-row"></div>
          </div>
        </div>
      </section>
      <markdown [data]="documentation.auto | language : 'html'"></markdown>
      <div class="margin-top-96 margin-bottom-96 line"></div>
      <section class="margin-bottom-16">
        <p class="z-highlight-2 margin-top-80 margin-bottom-16">Nested grids</p>
        <p class="z-body-text margin-bottom-32">
          Anidar grillas dentro de grillas.</p>
        <div class="row">
          <div class="col-xxs-7 col-xs-7 col-sm-7 col-md-7 col-lg-7">
            <div class="box box-container">
              <div class="row">
                <div class="col-xxs-9 col-xs-9 col-sm-9 col-md-9 col-lg-9">
                  <div class="box-first-grid box-container">
                    <div class="row">
                      <div class="col-xxs-4 col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="box-nested-grid"></div>
                      </div>
                      <div class="col-xxs-8 col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="box-nested-grid"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xxs-3 col-xs-3 col-sm-3 col-md-3 col-lg-3">
                  <div class="box-first-grid box-container">
                    <div class="row">
                      <div class="col-xxs col-xs col-sm col-md col-lg">
                        <div class="box-nested-grid"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxs-5 col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div class="box box-container">
              <div class="row">
                <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="box-first-grid box-container">
                    <div class="row">
                      <div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="box-nested-grid"></div>
                      </div>
                      <div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                        <div class="box-nested-grid"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <markdown [data]="documentation.nested | language : 'html'"></markdown>
      <div class="margin-top-96 margin-bottom-96 line"></div>
      <section>
        <p class="z-highlight-2 margin-top-80 margin-bottom-16">Alignment</p>
        <p class="z-body-text margin-bottom-16">Agrega clases para alinear elementos al principio o al final de una fila, así como a la parte superior, inferior o al centro de una columna.
        </p>
        <p class="z-body-text margin-bottom-32"><code class="code">.start-</code></p>
        <div class="row margin-bottom-16">
          <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-container">
              <div class="row start-xs">
                <div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="box-nested"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <markdown [data]="documentation.start | language : 'html'"></markdown>
        <p class="z-body-text margin-top-48 margin-bottom-32"><code class="code">.center-</code></p>
        <div class="row margin-bottom-16">
          <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-container">
              <div class="row center-xs">
                <div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="box-nested"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <markdown [data]="documentation.center | language : 'html'"></markdown>
        <p class="z-body-text margin-top-48 margin-bottom-32"><code class="code">.end-</code></p>
        <div class="row margin-bottom-16">
          <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-container">
              <div class="row end-xs">
                <div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="box-nested"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <markdown [data]="documentation.end | language : 'html'"></markdown>
        <p class="z-body-text margin-top-48 margin-bottom-32"><code class="code">.top-</code></p>
        <div class="row top-xs margin-bottom-16">
          <div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="box box-large"></div>
          </div>
          <div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="box"></div>
          </div>
        </div>
        <markdown [data]="documentation.top | language : 'html'"></markdown>
        <p class="z-body-text margin-top-48 margin-bottom-32"><code class="code">.middle-</code></p>
        <div class="row middle-xs margin-bottom-16">
          <div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="box box-large"></div>
          </div>
          <div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="box"></div>
          </div>
        </div>
        <markdown [data]="documentation.middle | language : 'html'"></markdown>
        <p class="z-body-text margin-top-48 margin-bottom-32"><code class="code">.bottom-</code></p>
        <div class="row bottom-xs margin-bottom-16">
          <div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="box box-large"></div>
          </div>
          <div class="col-xxs-6 col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div class="box"></div>
          </div>
        </div>
        <markdown [data]="documentation.bottom | language : 'html'"></markdown>
      </section>
      <div class="margin-top-96 margin-bottom-96 line"></div>
      <section>
        <p class="z-highlight-2 margin-top-80 margin-bottom-16">Distribution</p>
        <p class="z-body-text margin-bottom-16">
          Agrega clases para distribuir el contenido de una fila o columna.</p>
        <p class="z-body-text margin-bottom-32"><code class="code">.around-</code></p>
        <div class="row margin-bottom-16">
          <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-container">
              <div class="row around-xs">
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-nested"></div>
                </div>
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-nested"></div>
                </div>
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-nested"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <markdown [data]="documentation.around | language : 'html'"></markdown>
        <p class="z-body-text margin-top-48 margin-bottom-32"><code class="code">.between-</code></p>
        <div class="row margin-bottom-16">
          <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-container">
              <div class="row between-xs">
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-nested"></div>
                </div>
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-nested"></div>
                </div>
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-nested"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <markdown [data]="documentation.between | language : 'html'"></markdown>
      </section>
      <div class="margin-top-96 margin-bottom-96 line"></div>
      <section>
        <p class="z-highlight-2 margin-top-80 margin-bottom-16">Reordering</p>
        <p class="z-body-text margin-bottom-16">Añade clases para reordenar columnas.</p>
        <p class="z-body-text margin-bottom-32"><code class="code">.first-</code></p>
        <div class="row margin-bottom-16">
          <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-container">
              <div class="row">
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-first">1</div>
                </div>
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-first">2</div>
                </div>
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-first">3</div>
                </div>
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-first">4</div>
                </div>
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-first">5</div>
                </div>
                <div class="col-xxs-2 first-xs col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-nested">6</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <markdown [data]="documentation.first | language : 'html'"></markdown>
        <p class="z-body-text margin-top-48 margin-bottom-32"><code class="code">.last-</code></p>
        <div class="row margin-bottom-16">
          <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-container">
              <div class="row">
                <div class="col-xxs-2 last-xs col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-nested">1</div>
                </div>
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-first">2</div>
                </div>
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-first">3</div>
                </div>
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-first">4</div>
                </div>
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-first">5</div>
                </div>
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-first">6</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <markdown [data]="documentation.last | language : 'html'"></markdown>
      </section>
      <div class="margin-top-96 margin-bottom-96 line"></div>
      <section>
        <p class="z-highlight-2 margin-top-80 margin-bottom-16">Reversing</p>
        <p class="z-body-text margin-bottom-32"><code class="code">.reverse</code></p>
        <div class="row margin-bottom-16">
          <div class="col-xxs-12 col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="box box-container">
              <div class="row reverse">
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-nested">1</div>
                </div>
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-nested">2</div>
                </div>
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-nested">3</div>
                </div>
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-nested">4</div>
                </div>
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-nested">5</div>
                </div>
                <div class="col-xxs-2 col-xs-2 col-sm-2 col-md-2 col-lg-2">
                  <div class="box-nested">6</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <markdown [data]="documentation.reverse | language : 'html'"></markdown>
      </section>
      <div class="margin-top-96 margin-bottom-96 line"></div>
      <section>
        <p class="z-highlight-2 margin-top-80 margin-bottom-16">Hide element</p>
        <p class="z-body-text margin-bottom-32 margin-top-48"><code class="code">.hide-in-xs</code></p>
        <p class="z-body-text margin-bottom-32">Oculta un elemento en un breakpoint específico: <code class="code">.hide-in-(breakpoint)</code> (Cambiar el tamaño de la ventana para ver el resultado)</p>
        <div class="row margin-bottom-16">
          <div class="col-xxs-12 col-xs-12 hide-in-sm col-sm-12 col-md-12 col-lg-12">
            <div class="box box-container">
            </div>
          </div>
        </div>
        <markdown [data]="documentation.hidein | language : 'html'"></markdown>
        <p class="z-body-text margin-bottom-32 margin-top-48"><code class="code">.hide-up-md</code></p>
        <p class="z-body-text margin-bottom-32">Oculta un elemento a partir de un breakpoint en forma ascendente: <code class="code">.hide-up-(breakpoint)</code> (Cambiar el tamaño de la ventana para ver el resultado)</p>
        <div class="row margin-bottom-16">
          <div class="col-xxs-12 col-xs-12 hide-up-sm col-sm-12 col-md-12 col-lg-12">
            <div class="box box-container">
            </div>
          </div>
        </div>
        <markdown [data]="documentation.hideup | language : 'html'"></markdown>
        <p class="z-body-text margin-bottom-32 margin-top-48"><code class="code">.hide-down-md</code></p>
        <p class="z-body-text margin-bottom-32">Oculta un elemento a partir de un breakpoint en forma descendente: <code class="code">.hide-down-(breakpoint)</code> (Cambiar el tamaño de la ventana para ver el resultado)</p>
        <div class="row margin-bottom-16">
          <div class="col-xxs-12 col-xs-12 hide-down-sm col-sm-12 col-md-12 col-lg-12">
            <div class="box box-container">
            </div>
          </div>
        </div>
        <markdown [data]="documentation.hidedown | language : 'html'"></markdown>
      </section>
      <div class="margin-top-96 margin-bottom-96 line"></div>
      <p class="z-highlight-1 margin-top-80 margin-bottom-16">Breakpoints</p>
      <p class="z-body-text">Los breakpoints son rangos de anchos predeterminados que son útiles para generar definiciones particulares de acuerdo al ancho de cada pantalla. Cada breakpoint determina el ancho total de la grilla, como así también el de las calles y columnas.</p>
      <div style="overflow-x: auto" class="margin-top-48 margin-bottom-32" >
        <table>
          <tr class="grid-header">
            <th class="col-xs">Range (px)</th>
            <th class="col-xs">Variable</th>
            <th class="col-xs">Width of grid</th>
            <th class="col-xs">Columns</th>
            <th class="col-xs">Cases (px) </th>
            <th class="col-xs">Margins (px) </th>
          </tr>
          <tr class="grid-content" *ngFor="let item of list">
            <td class="col-xs">{{item.range}}</td>
            <td class="col-xs"><code class="code">{{item.variable}}</code></td>
            <td class="col-xs">{{item.height}}</td>
            <td class="col-xs">{{item.columns}}</td>
            <td class="col-xs">{{item.cases}}</td>
            <td class="col-xs">{{item.margins}}</td>
          </tr>
        </table>
      </div>
</div>

</ng-template>

</dsn-container>
