@import "../../styles/base";

.box,
.box-row{
  background-color: $color-brand-300;
  color: $color-grayscale-100;
  font-family: $text-font-stack;
  margin-bottom: 16px;
  min-height: 2rem;
  align-items: center;
}
.box-container {
  box-sizing: border-box;
  padding: .5rem;
}
.box-first {
  background: $color-brand-400;
  border-color: $color-brand-300;
  min-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-nested {
  background: $color-brand-400;
  border-color: $color-brand-300;
  min-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-first-grid {
  background: $color-brand-400;
  border-color: $color-brand-300;
  min-height: 2rem;
}
.box-nested-grid {
  background: $color-brand-400;
  border-color: $color-brand-300;
  min-height: 2rem;
}
.start-xs {
  justify-content: flex-start;
  text-align: start;
}
.center-xs {
  justify-content: center;
  text-align: center;
}
.end-xs {
  justify-content: flex-end;
  text-align: end;
}
.top-xs {
  align-items: flex-start;
}
.box-large {
  height: 8rem;
}
.middle-xs {
  align-items: center;
}
.bottom-xs {
  align-items: flex-end;
}
.around-xs {
  justify-content: space-around;
}
.between-xs {
  justify-content: space-between;
}
