<main>
  <h1>Scroll Animations CSS Pure</h1>
  <section>
    <img
      srcset="
        https://img.freepik.com/foto-gratis/imagen-vertical-rio-bosque-rocas-cielo-nublado_181624-12497.jpg
      "
      id="image1"
    />
    <img
      srcset="
        https://img.freepik.com/foto-gratis/imagen-vertical-rio-bosque-rocas-cielo-nublado_181624-12497.jpg
      "
      id="image2"
    />
    <img
      srcset="
        https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ57KB51gHKqmsrU255fXmIwQYSfdAOIW1HAQ&usqp=CAU
      "
      id="image3"
    />
    <img
      srcset="
        https://img.freepik.com/foto-gratis/imagen-vertical-rio-bosque-rocas-cielo-nublado_181624-12497.jpg
      "
      id="image4"
    />
    <img
      srcset="
        https://img.freepik.com/foto-gratis/imagen-vertical-rio-bosque-rocas-cielo-nublado_181624-12497.jpg
      "
      id="image5"
    />
    <img
      srcset="
        https://img.freepik.com/foto-gratis/imagen-vertical-rio-bosque-rocas-cielo-nublado_181624-12497.jpg
      "
      id="image6"
    />
    <img
      srcset="
        https://img.freepik.com/foto-gratis/imagen-vertical-rio-bosque-rocas-cielo-nublado_181624-12497.jpg
      "
      id="image7"
    />
    <img
      srcset="
        https://img.freepik.com/foto-gratis/imagen-vertical-rio-bosque-rocas-cielo-nublado_181624-12497.jpg
      "
      id="image8"
    />
    <img
      srcset="
        https://img.freepik.com/foto-gratis/imagen-vertical-rio-bosque-rocas-cielo-nublado_181624-12497.jpg
      "
      id="image9"
    />
    <img
      srcset="
        https://img.freepik.com/foto-gratis/imagen-vertical-rio-bosque-rocas-cielo-nublado_181624-12497.jpg
      "
      id="image10"
    />
  </section>
</main>
