<configuration>
	<system.web>
		<!--<httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="<,>,*,%,&,\\,?" />-->
	</system.web>
	<system.webServer>
	  <rewrite>
		<rules>
		  <rule name="Angular Routes" stopProcessing="true">
			<match url=".*" />
		  <conditions logicalGrouping="MatchAll">
			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
		  </conditions>
		  <!--<action type="Rewrite" url="/VatesNovelties/" />-->
		  <action type="Rewrite" url="/" />
		  </rule>
		</rules>
	  </rewrite>
	</system.webServer>
</configuration>