<div #Switch class="margin-top-40 row">
  <!-- Right align / Enabled -->
  <div class="col-xs-12 col-md-6 margin-bottom-16">
    <z-switch [switch]="switchOn" [type]="'right-align'">
    </z-switch>
  </div>
  <!-- Right align / Disabled -->
  <div class="col-xs-12 col-md-6 margin-bottom-16">
    <z-switch [switch]="switchDisabled" [type]="'right-align'">
    </z-switch>
  </div>
  <!-- Left align / Enabled -->
  <div class="col-xs-12 col-md-6 margin-bottom-16">
    <z-switch [switch]="switchOnLeft" [type]="'left-align'">
    </z-switch>
  </div>
  <!-- Left align / Disabled -->
  <div class="col-xs-12 col-md-6">
    <z-switch [switch]="switchDisabledLeft" [type]="'left-align'">
    </z-switch>
  </div>
</div>
