<form (submit)="addContact()">
    <div class="form-item-image">
      <img [src]="model.picture">
      <input type="file" accept=".jpg, .png, .jpeg" (change)="addImage($event)">
    </div>
     <div class="form-item">
         <label for="name">Name:</label>
         <!-- tiene que ir asociado en ngmodel con el atributo name -->
         <!-- a demas ngModel te permite saber si el usario a tocado ese campo o si se cambio el contenido 
         o si el contendio es invalido. Mediante cases  de css en funcion de ese estado. -->


         <!--Template Reference Variable: Podemos decirle que no haga referencia del input si no del ngModel del formulario -->
         <input #nameControl="ngModel" minlength="2" type="text" name="name" [(ngModel)]="model.name" id="name" required>
         
         <ng-container *ngIf="!nameControl.valid && nameControl.touched">
             <p *ngIf="nameControl.errors.required" class="error-message" >Este campo es requerido</p>
             <p *ngIf="nameControl.errors.minlength" class="error-message" >el minimo es 2 caracteres</p>
         </ng-container> 
         
     </div>
     <div class="form-group">
         <p>Phones:</p>
         <div class="form-item" *ngFor="let phone of model.phones; index as i">
             <label for="phone-type">Phone</label>
            <!-- el name tiene que se identificador unico, para que angular lo pueda diferenciar. ES MUY IMPORTATNE -->
             <select id="phone-type" [(ngModel)]="model.phones[i].type" name="phone-{{i}}-type">
                 <option [value]="type" *ngFor="let type of phoneTypes">{{ type }}</option>
             </select>
             <input type="tel" id="phone-number" [(ngModel)]="model.phones[i].number" name="phone-{{i}}-number">
         </div>
         <p class="form-action" (click)="addNewPhoneToModel()">Add Phone +</p>
     </div>
     <div class="form-item">
         <label for="email">Email:</label>
         <input type="text" name="email" [(ngModel)]="model.email" id="email">
     </div>
     <div class="form-item">
         <label for="address">Address:</label>
         <input type="text" name="address" [(ngModel)]="model.direction" id="address">
     </div>
    <button class="form-button" type="submit">Add Contact</button>
</form>

<pre>{{ model | json }}</pre>

<!-- agregamos estilos dependiendo de estas clases - style.scss  -->
ng-untouched : siguinifica que todavia no he visitado para nada este campo
ng-pristine : indica que nunca he cambiado el valor del campo
ng-invalid : el valor del campo es invalido
ng-valid : el valor del campo es valido
ng-touched : he tocado el campo, ha detecatdo una visita a este elemento.
ng-dirty : indica que he cambiado el valor inicial

<!-- <p>{{ nameControl.className }}</p> -->
