<dsn-container [title]="'Slider Control'" [link]="link" [info]="info">
    <ng-template #exampleContentTemplate>
      <div class="container-fluid">

        <div class="box-border">
          <z-slider-control 
            [min]="min"
            [max]="max"
            [step]="step"
            [disabled]="disabled"
            [prefix]="prefix"
            (valuesChange)="valuesChange($event)"
            [title]="titleActive">
          </z-slider-control>
        </div>

        <div class="margin-top-80">
          <h2 class="z-highlight-1">Demo</h2>
        </div>
        
        <p class="z-highlight-2 margin-bottom-32 margin-top-32">Active</p>
        <div class="row margin-top-32">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="box-border">
              <z-slider-control 
                [min]="min"
                [max]="max"
                [step]="step"
                [disabled]="disabled"
                [prefix]="prefix"
                (valuesChange)="valuesChange($event)"
                [title]="titleActive">
              </z-slider-control>
            </div>
          </div>
        </div>

        <p class="z-highlight-2 margin-bottom-32 margin-top-32">Disabled</p>
        <div class="row margin-top-32">
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div class="box-border">
              <z-slider-control 
                [min]="min"
                [max]="max"
                [step]="step"
                [disabled]="true"
                [prefix]="prefix"
                (valuesChange)="valuesChange($event)"
                [title]="titleActive">
              </z-slider-control>
            </div>
          </div>
        </div>

        <div class="z-highlight-1 margin-top-80 margin-bottom-16">
          Inputs
        </div>
        <dsn-table [list]="inputsDocumentation"></dsn-table>
        
        <div class="z-highlight-1 margin-top-80 margin-bottom-16">
          Outputs
        </div>
        <dsn-table [list]="outputsDocumentation"></dsn-table>

      </div>

      <div class="margin-top-48 margin-bottom-16">
        <h2 class="z-highlight-1">
          Source code
        </h2> -
      </div> 

      <markdown [src]="'assets/markdown/slider-control/sample-source-01.md'"></markdown>
    </ng-template>
</dsn-container>
