@import "../../../lib/src/styles/colors";
@import "../../../lib/src/styles/spaces";

.status--rectangle {
  height: 27px;
  border-radius: 2px;
  background-color: $color-grayscale-100;
  border: solid 1px $color-grayscale-300;
  justify-content: center;
  align-content: center;
  display: inline-flex;
}

.text {
    height: 20px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.57;
    color: $color-grayscale-700;
    margin: 3px 8px 0 8px;
}

.color {
  width: 3px;
  height: 27px;

  &--available {
    background-color: $color-success-700;
  }

  &--beta {
    background-color: $color-warning-700;
  }

  &--deprecated {
    background-color: $color-error-700;
  }
}
