<div #Select class="margin-top-40 row">

  <!-- Selected item / Default behaviour  -->
  <div class="col-xs-12 col-md-6 margin-bottom-8">
    <z-select [items]="items" [placeholderDefault]="'Placeholder'" [messagesHint]="hintText"
      [messagesError]="'Seleccioná un día'">
    </z-select>
  </div>

  <!-- Selected item / Top behaviour -->
  <div class="col-xs-12 col-md-6 margin-bottom-8">
    <z-select [items]="items" [dropUp]="true" [placeholderDefault]="'Placeholder'" [messagesHint]="hintText"
      [messagesError]="'Seleccioná un día'">
    </z-select>
  </div>

  <!-- Disabled-->
  <div class="col-xs-12 col-md-12 margin-bottom-8">
    <z-select [items]="items" [dropUp]="true" [disabled]="true" [placeholderDefault]="'Placeholder - Disabled'"
      [messagesHint]="hintText" [messagesError]="'Seleccioná un día'">
    </z-select>
  </div>
</div>
