registry=http://10.10.90.191:8081/repository/nx-npm-group/
init.author.name=Pipeline init.author.email=pipeline@naranja.com
init.author.url=http://blog.example.com email=pipeline@naranaja.com
always-auth=true _auth="bnBtLXp1bW86Tnp1bW9ucG0="