<dsn-container [title]="'Card'" [description]="description" [link]="link" [info]="info">
    <ng-template #exampleContentTemplate>
      <div class="container-fluid">

        <div class="box-border">
          <a href="https://naranjaonline.naranja.com/" target="_blank" style="width: 406px;">
            <z-card [clickable]="true" (clickCard)="showConsole()">
              <div style="padding: 24px;">
                <h2 class="z-overline margin-bottom-8">NARANJA ONLINE</h2>
                <h1 class="z-title" style="margin-bottom: 10px;">En tu computadora</h1>
                <p class="z-body-text margin-bottom-16">Con tu DNI y clave, hacé todas tus operaciones en la sucursal
                  virtual: pagá, consultá, simulá compras y más.</p>
                <p class="link-doc">Ir a Naranja Online</p>
              </div>
            </z-card>
          </a>
        </div>

        <div class="margin-top-80">
          <h2 class="z-highlight-1">Demo</h2>
        </div>

        <p class="z-highlight-2 margin-bottom-16 margin-top-32">Regular</p>
        <div style="width: 240px;">
          <z-card id="noHover" [clickable]="false" [styleList]="styleArray" (clickCard)="showConsole()">
            <p class="z-body-text margin-bottom-16">Con tu DNI y clave, hacé todas tus operaciones en la sucursal
              virtual: pagá, consultá, simulá compras y más.</p>
          </z-card>
        </div>

        <p class="z-highlight-2 margin-bottom-16 margin-top-32">Con accionable</p>
        <div style="width: 240px;">
          <z-card [clickable]="true" [styleList]="styleArray" (clickCard)="showConsole()">
            <p class="z-body-text margin-bottom-16">Con tu DNI y clave, hacé todas tus operaciones en la sucursal
              virtual: pagá, consultá, simulá compras y más.</p>
            <p class="link-doc">Ir a Naranja Online</p>
          </z-card>

        </div>
        <div class="margin-top-80 margin-bottom-16">
          <div class="subtitle-demo margin-top-40 margin-bottom-16">
            Inputs
          </div>
          <dsn-table [list]="inputsDocumentation"></dsn-table>

          <div class="subtitle-demo margin-top-80 margin-bottom-16">
            Outputs
          </div>
        </div>
        <dsn-table [list]="outputsDocumentation"></dsn-table>
      </div>

      <div class="margin-top-48 margin-bottom-16">
        <h2 class="subtitle-demo">
          Source code
        </h2>
      </div>

      <markdown [src]="'assets/markdown/card/sample-source-01.md'"></markdown>

    </ng-template>
</dsn-container>
