<dsn-container title="Colors" [description]="description" [link]="link">
  <ng-template #exampleContentTemplate>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-lg-10">
          <p class="z-highlight-1 margin-bottom-16">Primarios</p>
          <p class="z-body-text margin-bottom-16">
            El color primario definido para las aplicaciones digitales de
            Naranja, se basa en el color establecido por el manual de identidad,
            con modificaciones para adaptarlo al lenguaje digital.
          </p>

          <div class="color-container">
            <li class="color-container__list" [ngStyle]="{ 'background-color': primaryColor.color }"
              *ngFor="let primaryColor of primaryColors">
              <ul class="color-container__list__ul">
                <p class="color-container__list__ul__text" [ngStyle]="{ color: primaryColor.textColor }">
                  {{ primaryColor.text }}
                </p>
                <p class="color-container__list__ul__text" [ngStyle]="{ color: primaryColor.textColor }">
                  {{ primaryColor.color }}
                </p>
                <br />
                <p class="color-container__list__ul__text" [ngStyle]="{ color: primaryColor.textColor }">
                  {{ primaryColor.accesibility }}
                </p>
              </ul>
            </li>
          </div>

          <p class="z-highlight-1 margin-bottom-16 margin-top-64">Neutrals</p>
          <p class="z-body-text margin-bottom-16">
            Usamos una paleta de tonos neutros para construir nuestras interfaces. Los diferentes valores de grises nos
            permiten organizar la información en bloques independientes, siempre priorizando la legibilidad de los
            textos y contenidos.
          </p>
          <div class="color-container">
            <li class="color-container__list" [ngStyle]="{ 'background-color': grayscaleColor.color }"
              *ngFor="let grayscaleColor of grayscaleColors">
              <ul class="color-container__list__ul">
                <p class="color-container__list__ul__text" [ngStyle]="{ color: grayscaleColor.textColor }">
                  {{ grayscaleColor.text }}
                </p>
                <p class="color-container__list__ul__text" [ngStyle]="{ color: grayscaleColor.textColor }">
                  {{ grayscaleColor.color }}
                </p>
                <br />
                <p class="color-container__list__ul__text" [ngStyle]="{ color: grayscaleColor.textColor }">
                  {{ grayscaleColor.accesibility }}
                </p>
              </ul>
            </li>
          </div>

          <p class="z-highlight-1 margin-bottom-16 margin-top-64">Feedback - Error</p>
          <p class="z-body-text margin-bottom-16">
            Reservamos esta gama de colores para comunicar al usuario fallas propias o errores bloqueantes del sistema,
            indicar acciones destructivas (borrar, eliminar, cancelar) y remarcar situaciones que requieran su atención
            inmediata por ser invalidantes (deuda impaga).
          </p>
          <div class="color-container">
            <li class="color-container__list" [ngStyle]="{ 'background-color': errorColor.color }"
              *ngFor="let errorColor of errorColors">
              <ul class="color-container__list__ul">
                <p class="color-container__list__ul__text" [ngStyle]="{ color: errorColor.textColor }">
                  {{ errorColor.text }}
                </p>
                <p class="color-container__list__ul__text" [ngStyle]="{ color: errorColor.textColor }">
                  {{ errorColor.color }}
                </p>
                <br />
                <p class="color-container__list__ul__text" [ngStyle]="{ color: errorColor.textColor }">
                  {{ errorColor.accesibility }}
                </p>
              </ul>
            </li>
          </div>

          <p class="z-highlight-1 margin-bottom-16 margin-top-64">Feedback - Warning</p>
          <p class="z-body-text margin-bottom-16">
            Utilizamos esta gama de colores para transmitir al usuario información sobre fallas menores, errores no
            bloqueantes, estados de transición o espera y situaciones que requieren su atención, sin ser graves (pago
            adeudado, resumen a punto de vencer).
          </p>
          <div class="color-container">
            <li class="color-container__list" [ngStyle]="{ 'background-color': warningColor.color }"
              *ngFor="let warningColor of warningColors">
              <ul class="color-container__list__ul">
                <p class="color-container__list__ul__text" [ngStyle]="{ color: warningColor.textColor }">
                  {{ warningColor.text }}
                </p>
                <p class="color-container__list__ul__text" [ngStyle]="{ color: warningColor.textColor }">
                  {{ warningColor.color }}
                </p>
                <br />
                <p class="color-container__list__ul__text" [ngStyle]="{ color: warningColor.textColor }">
                  {{ warningColor.accesibility }}
                </p>
              </ul>
            </li>
          </div>

          <p class="z-highlight-1 margin-bottom-16 margin-top-64">Feedback - Success</p>
          <p class="z-body-text margin-bottom-16">
            Usamos esta paleta de colores para comunicar al usuario sobre la finalización exitosa de procesos, la
            validación positiva de datos y estados de situación que no requieren acciones inmediatas (cuenta al día).
          </p>
          <div class="color-container">
            <li class="color-container__list" [ngStyle]="{ 'background-color': successColor.color }"
              *ngFor="let successColor of successColors">
              <ul class="color-container__list__ul">
                <p class="color-container__list__ul__text" [ngStyle]="{ color: successColor.textColor }">
                  {{ successColor.text }}
                </p>
                <p class="color-container__list__ul__text" [ngStyle]="{ color: successColor.textColor }">
                  {{ successColor.color }}
                </p>
                <br />
                <p class="color-container__list__ul__text" [ngStyle]="{ color: successColor.textColor }">
                  {{ successColor.accesibility }}
                </p>
              </ul>
            </li>
          </div>

          <p class="z-highlight-1 margin-bottom-16 margin-top-64">Feedback - Info</p>
          <p class="z-body-text margin-bottom-16">
            Reservamos esta gama de colores para transmitir al usuario información secundaria, que no está asociada
            directamente a acciones requeridas ni a procesos (aplicación actualizada).
          </p>
          <div class="color-container">
            <li class="color-container__list" [ngStyle]="{ 'background-color': infoColor.color }"
              *ngFor="let infoColor of infoColors">
              <ul class="color-container__list__ul">
                <p class="color-container__list__ul__text" [ngStyle]="{ color: infoColor.textColor }">
                  {{ infoColor.text }}
                </p>
                <p class="color-container__list__ul__text" [ngStyle]="{ color: infoColor.textColor }">
                  {{ infoColor.color }}
                </p>
                <br />
                <p class="color-container__list__ul__text" [ngStyle]="{ color: infoColor.textColor }">
                  {{ infoColor.accesibility }}
                </p>
              </ul>
            </li>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</dsn-container>
