@import "../../styles/base";

.color-container {
  &__list {
    list-style-type: none;

    &__ul {
      padding: 16px;

      &__text {
        font-family: $text-font-stack;
        font-size: 16px;
        line-height: 20px;
      }
    }
  }
}
