<div #Dialogs class="margin-top-40 row">

  <!-- Regular -->
  <div class="col-xs-6 col-md-3">
    <z-button [text]="'Regular'" [type]="'link'" (clickButton)="openDialogRegular()"></z-button>
  </div>

  <!-- Regular with title -->
  <div class="col-xs-6 col-md-3">
    <z-button [text]="'Regular title'" [type]="'link'" (clickButton)="openDialogRegularTitle()"></z-button>
  </div>

  <!-- Regular icon -->
  <div class="col-xs-6 col-md-3">
    <z-button [text]="'Regular icon'" [type]="'link'" (clickButton)="openDialog()"></z-button>
  </div>

  <!-- Regular single action -->
  <div class="col-xs-6 col-md-3">
    <z-button [text]="'Regular single action'" [type]="'link'" (clickButton)="openDialogSingle()"></z-button>
  </div>

  <!-- Feedback dialog 'warning' -->
  <div class="col-xs-6 col-md-3">
    <z-button [text]="'Warning'" [type]="'link'" (clickButton)="openDialogFeedback('warning')"></z-button>
  </div>

  <!-- Feedback dialog 'error' -->
  <div class="col-xs-6 col-md-3">
    <z-button [text]="'Error'" [type]="'link'" (clickButton)="openDialogFeedback('error')"></z-button>
  </div>

  <!-- Feedback dialog 'success' -->
  <div class="col-xs-6 col-md-3">
    <z-button [text]="'Success'" [type]="'link'" (clickButton)="openDialogFeedback('success')"></z-button>
  </div>
  <!-- <z-button [text]="'Default'" [type]="'link'" (clickButton)="openDialogFeedback()"></z-button> -->

  <!-- Custom dialog -->
  <div class="col-xs-6 col-md-3">
    <z-button class="align-left" [text]="'Informative'" [type]="'link'" (clickButton)="openDialogCustom()"></z-button>
  </div>
</div>
