
<!-- De esta forma usamos Angular Animation, lo unico malo es que baja la performance en SEO con SSR -->
<!-- <nav #nav class="nav nav-aberta" [@homeState]="showHeader ? 'hide': 'show'"> -->
<nav #nav class="nav nav-aberta" [ngClass]="{'showHeader': showHeader, 'hideHeader': !showHeader}">
	<div class="wrap">
			<ul class="listaNav">
					<li><a href="#">Item 1</a></li>
					<li><a href="#">Item 2</a></li>
					<li><a href="#">Item 3</a></li>
					<li><a href="#">Item 4</a></li>
					<li><a href="#">Item 5</a></li>
					<li><a href="#">Item 6</a></li>
					<li><a href="#">Item 7</a></li>
					<li><a href="#">Item 8</a></li>
					<li><a href="#">Item 9</a></li>
			</ul>
		</div>
</nav>
