<div class="container">
  <div class="row">
      <div class="four columns">
          <img [appDatasrc]="imgLogo" class="lazyload" id="logo">
      </div>
      <div class="two columns u-pull-right">
          <ul>
              <li class="submenu">
                      <img [appDatasrc]="imgCard" class="lazyload" id="img-carrito">
                      <div id="carrito">
                              
                              <table id="lista-carrito" class="u-full-width">
                                  <thead>
                                      <tr>
                                          <th>Imagen</th>
                                          <th>Nombre</th>
                                          <th>Precio</th>
                                          <th></th>
                                      </tr>
                                  </thead>
                                  <tbody></tbody>
                              </table>

                              <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>
                      </div>
              </li>
          </ul>
      </div>
  </div> 
</div>