<dsn-container [title]="'Iconografía'" [description]="description" [link]="link" [info]="info">
  <ng-template #exampleContentTemplate>
    <div class="container-fluid">
      <div class="row">
        <div class="box" *ngFor="let item of icons">
          <div class="icon">
            <p class=" {{item.name}} size-48"></p>

          </div>
          <div class="box-label">
            <label>{{item.name}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="margin-top-48 margin-bottom-16">
      <h2 class="z-highlight-1">
        Source code
      </h2>
    </div>
    <markdown [data]="documentation.defaultValidation | language : 'html'"></markdown>


    <div class="margin-top-80">
      <h2 class="z-highlight-1">Icon container</h2>
      <div class="row">
        <div class="col-md-3">
          <p class="z-body-text margin-bottom-16 margin-top-32">Very small</p>
          <z-container-icon [size]="'very-small'" [colorBackground]="backgroundColor" [colorIcon]="iconColor"
            [iconName]="'icon-car'"></z-container-icon>
        </div>
        <div class="col-md-3">
          <p class="z-body-text margin-bottom-16 margin-top-32">Large</p>
          <z-container-icon [size]="'large'" [colorBackground]="backgroundColor" [colorIcon]="iconColor"
            [iconName]="'icon-send'"></z-container-icon>
        </div>
        <div class="col-md-3">
          <p class="z-body-text margin-bottom-16 margin-top-32">Extra-large</p>
          <z-container-icon [size]="'extra-large'" [colorBackground]="backgroundColor" [colorIcon]="iconColor"
            [iconName]="'icon-bus'"></z-container-icon>
        </div>
      </div>
    </div>

    <div class="margin-top-48 margin-bottom-16">
      <h2 class="z-highlight-1">
        Source code
      </h2>
    </div>
    <markdown [data]="documentation.iconContainer | language : 'html'"></markdown>

  </ng-template>

</dsn-container>
