<dsn-container title="Message" [description]="description" [link]="link" [info]="info">
    <ng-template #exampleContentTemplate>
      <div class="container-fluid">

        <div class="row box-border">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <z-message [text]="'Texto del Alert.'" [type]="'success'"></z-message>
          </div>
        </div>

        <div class="margin-top-80">
          <h2 class="z-highlight-1">Demo</h2>
        </div>

        <p class="z-highlight-2 margin-bottom-16 margin-top-32">Alert success</p>
        <div class="row">
          <div class="col-md-6">
            <z-message [text]="'Texto del Alert.'" [type]="'success'"></z-message>
          </div>
        </div>

        <p class="z-highlight-2 margin-bottom-16 margin-top-48">Alert warning</p>
        <div class="row">
          <div class="col-md-6">
            <z-message [text]="'Texto del Alert.'" [type]="'warning'"></z-message>
          </div>
        </div>

        <p class="z-highlight-2 margin-bottom-16 margin-top-48">Alert error</p>
        <div class="row">
          <div class="col-md-6">
            <z-message [text]="'Texto del Alert.'" [type]="'error'"></z-message>
          </div>
        </div>

        <div class="z-highlight-1 margin-top-80 margin-bottom-16">
          Inputs
        </div>
        <dsn-table [list]="inputsDocumentation"></dsn-table>

        <div class="margin-top-48 margin-bottom-16">
          <h2 class="z-highlight-1">
            Source code
          </h2>
        </div>

        <markdown [src]="'assets/markdown/message/message-source-01.md'"></markdown>
      </div>

    </ng-template>

</dsn-container>
