
<dsn-container title="Feedback pages" [description]="description" [link]="link">
    <ng-template #exampleContentTemplate>
      <div class="container-fluid">

        <div class="margin-top-40 margin-bottom-24">
          <h2 class="z-highlight-1">Demo</h2>
        </div>
        <div class="margin-top-48 margin-bottom-16">
        <z-button type="link" class="align-left" text="Success" routerLink="feedback" routerLinkActive="active"
                  (clickButton)="goToLink('feedback/success')"></z-button>

        <z-button type="link" text="Warning" routerLink="feedback" routerLinkActive="active"
                  (clickButton)="goToLink('feedback/warning')"></z-button>

        <z-button type="link" text="Error" routerLink="feedback" routerLinkActive="active"
                  (clickButton)="goToLink('feedback/error')"></z-button>
        </div>
        <div class="margin-top-48 margin-bottom-16">
          <h2 class="z-highlight-1 margin-top-48">
            Source code
          </h2>
        </div>

        <markdown [src]="'assets/markdown/feedback-pages/sample-source-01.md'"></markdown>
      </div>
    </ng-template>

</dsn-container>
<router-outlet></router-outlet>
