<dsn-container title="Accordion" [description]="description" [link]="link" [info]="info">
  <ng-template #exampleContentTemplate>
    <div class="container">

      <!-- BOX DEMO -->
      <div class="container__box-border">
        <div class="container__box-border__demo">
          <z-accordion [isOpen]="true" [title]="'¿Cómo sé dónde están mis tarjetas?'">
            <p class="z-body-text padding-bottom-24">Cuando aprobemos la solicitud de tu tarjeta de crédito,
              vas a recibir un email con una
              clave para ingresar a <a class="z-body-text container__box-border__link"
                href="https://naranjaonline.naranja.com/" target="_blank">Naranja Online</a> o App
              Naranja y
              desde ahí podés hacer el seguimiento del envío de tu plástico.
            </p>
          </z-accordion>
        </div>
      </div>

      <div class="margin-top-80">
        <h2 class="z-highlight-1">Demo</h2>
      </div>

      <div class="row margin-top-32">
        <div class="col-xs-12 col-md-10 col-lg-10">

          <z-accordion [title]="'¿Qué límites voy a tener con tarjeta Naranja?'">
            <p class="z-body-text padding-bottom-24">
              Tus límites van a depender de tu situación crediticia. Revisamos los requisitos que
              presentaste al abrir tu cuenta y te asignamos límites según la verificación que realiza.
            </p>
          </z-accordion>

          <p class="z-highlight-2 margin-bottom-40 margin-top-80">Acordeón abierto por defecto</p>

          <z-accordion [isOpen]="true" [title]="'¿Qué límite de cuenta tienen las tarjetas adicionales?'">
            <p class="z-body-text padding-bottom-24">
              Los adicionales recibirán las mismas tarjetas que tiene la cuenta del titular y compartirán
              los límites, a menos que en la solicitud el titular le fije un límite menor.
            </p>
          </z-accordion>
        </div>
      </div>


      <div class="z-highlight-1 margin-top-80 margin-bottom-16">
        Inputs
      </div>

      <dsn-table [list]="inputsDocumentation"></dsn-table>

      <div class="margin-top-48 margin-bottom-16">
        <h2 class="z-highlight-1">
          Source code
        </h2>
      </div>

      <markdown [src]="'assets/markdown/accordion/sample-source-01.md'"></markdown>

    </div>
  </ng-template>
</dsn-container>
