<div #Cards class="margin-top-40 row">

  <div class="col-xs-12 col-md-6 margin-bottom-16">
    <z-card id="noHover" [clickable]="false" [styleList]="styleArray" (clickCard)="showConsole()">
      <p class="z-body-text margin-bottom-16">How did I get into this mess? I really don't know how. We seem to be made
        to suffer. It's our lot in life. I've got to rest before I fall apart. My joints are almost frozen. What a
        desolate place this is. Where are you going? Well, I'm not going that way. It's much too rocky. This way is much
        easier. What makes you think there are settlements over there?
      </p>
      <z-button [text]="'Button'">
      </z-button>
    </z-card>
  </div>

  <div class="col-xs-12 col-md-6 margin-bottom-16">
    <z-card [clickable]="true" [styleList]="styleArray" (clickCard)="showConsole()" styleList="true">
      <p class="z-body-text margin-bottom-16">Con tu DNI y clave, hacé todas tus operaciones en la sucursal
        virtual: pagá, consultá, simulá compras y más.</p>
      <p class="link-doc">Ir a Naranja Online</p>
    </z-card>

  </div>
</div>
