@import "../../../../styles/base";

.link-doc {
  color: $color-brand-500;;
  font-family: "URWGeometric";
  font-size: 18px;
  font-weight: bold;
  text-decoration: initial;
}

a {
  text-decoration: none;
}
