<div #Tabs class="margin-top-40 row">

</div>
<div class="col-xs-12 col-md-6 col-lg-4">
  <z-card [styleList]="styleArray" [isNotHover]="true">
    <z-tabs>
      <z-tab [title]="'Tab 01'">
        <p class="z-body-text padding-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.</p>
      </z-tab>
      <z-tab [title]="'Tab 02 - disabled'" [disabled]="true">
        <p class="z-body-text padding-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.</p>
      </z-tab>
      <z-tab [title]="'Tab 03'">
        <p class="z-body-text padding-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.</p>
      </z-tab>
      <z-tab [title]="'Tab 04'">
        <p class="z-body-text padding-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.</p>
      </z-tab>
      <z-tab [title]="'Tab 05'">
        <p class="z-body-text padding-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.</p>
      </z-tab>
    </z-tabs>
  </z-card>
</div>
