<div #Textfield class="margin-top-40 row">
  <!-- Default validation (out focus) -->
  <div class="col-xs-12 col-md-6 margin-bottom-16">
    <z-textfield text="Nombre" [id]="'nameDefault'" [formControl]="formTextfield.get('defaultName')"
      [menssagesHint]="'Como aparece en la tarjeta'">
      <z-container-icon [size]="'very-small'" [iconName]="'icon-cross'" (clickEvent)="clickDeleteData($event)">
      </z-container-icon>
    </z-textfield>
  </div>

  <!-- On focus validation -->
  <div class="col-xs-12 col-md-6 margin-bottom-16">
    <z-textfield [id]="'numberOnFocus'" [formControl]="formTextfield.get('onFocusNumberCard')" text="Número de tarjeta"
      [momentOfValidate]="'onFocus'" [menssagesHint]="'Como aparece en el plástico'">
    </z-textfield>
  </div>

  <!-- On submit validation -->
  <div class="col-xs-12 col-md-6 margin-bottom-16">
    <z-textfield [id]="'numberTarjeta'" text="Número de tarjeta" [momentOfValidate]="'submit'"
      [formControl]="formTextfield.get('onSubmitNumberCard')" [submit$]="submit$"
      (handlerError)="handlerErrorEvent($event)" [menssagesHint]="'Como aparece en el plástico'"></z-textfield>
  </div>

  <!-- Multiple error feedbacks -->
  <div class="col-xs-12 col-md-6 margin-bottom-16">
    <z-textfield [id]="'monto'" text="Monto" [menssagesHint]="'No puede ser mayor a $100'"
      [menssagesError]="menssagesErrorMultiple" [momentOfValidate]="'submit'" [submit$]="submitMultiple$"
      [formControl]="formTextfield.get('multipleerrorMonto')" (handlerError)="handlerErrorEventMultiple($event)">
    </z-textfield>
  </div>

  <!-- Success validation with out focus -->
  <div class="col-xs-12 col-md-6 margin-bottom-16">
    <z-textfield [id]="'numberSuccess1'" [formControl]="formTextfield.get('successNumberCard')" text="Número de tarjeta"
      [menssagesSuccess]="'El número es válido'" [menssagesHint]="'Como aparece en el plástico'"></z-textfield>
  </div>

  <!-- Success validation with on focus -->
  <div class="col-xs-12 col-md-6 margin-bottom-16">
    <z-textfield [id]="'numberSuccess2'" [formControl]="formTextfield.get('successNumberCard1')"
      text="Número de tarjeta" [menssagesSuccess]="'El número es válido'" [momentOfValidate]="'onFocus'"
      [menssagesHint]="'Como aparece en el plástico'"></z-textfield>
  </div>

  <!-- Texfield with checkbox -->
  <div class="col-xs-12 col-md-6 margin-bottom-16">
    <z-textfield [id]="'checkbox'" text="Número" [disabled]="disabledTextfieldCheckbox"
      [formControl]="formTextfield.get('checkboxNumberDom')">
      <z-checkbox [checkbox]="checkbox" (checkboxChecked)="checkSelected()"></z-checkbox>
    </z-textfield>
  </div>

  <!-- Password -->
  <div class="col-xs-12 col-md-6 margin-bottom-16">
    <z-textfield text="Contraseña" [type]="typePassword" [id]="'password'" [formControl]="formTextfield.get('password')"
      (focus)="handleControlCustom($event)">
      <z-container-icon *ngIf="formTextfield.get('password').value" [size]="'very-small'" [iconName]="nameIcon"
        (clickEvent)="clickEventIconPass($event)">
      </z-container-icon>
      <div zControlMessages>
        <z-control-messages *ngFor="let item of regExpList" [hidden]="!showCustomValidation"
          [validationMoment]="validationMoment$" [regExpresion]="item" [control]="formTextfield.get('password')"
          (handleControlCustom)="handleControlCustom($event)">
        </z-control-messages>
      </div>
    </z-textfield>
  </div>
  <!-- Disabled -->
  <div class="col-xs-12">
    <z-textfield [disabled]="true" [id]="'disabled'" text="Nombre y apellido"></z-textfield>
  </div>

</div>
