<dsn-container [title]="'Confirmation Slider'" [description]="description" [link]="link" [info]="info">
    <ng-template #exampleContentTemplate>
      <div class="container-fluid">

        <div class="box-border">
          <z-confirmation-slider [text]="textSlider1" [loading]="isLoadingOne"
          (confirm)="confirmDemoOne($event)"></z-confirmation-slider>
        </div>

        <div class="margin-top-80">
          <h2 class="z-highlight-1">Demo</h2>
        </div>

        <div class="row margin-top-32">
          <div class="col-md-5">
            <z-confirmation-slider [text]="textSlider2" [loading]="isLoadingTwo"
             (confirm)="confirmDemoTwo($event)"></z-confirmation-slider>
          </div>
        </div>

        <div class="z-highlight-1 margin-top-80 margin-bottom-16">
          Inputs
        </div>
        <dsn-table [list]="inputsDocumentation"></dsn-table>

        <div class="z-highlight-1 margin-top-80 margin-bottom-16">
          Outputs
        </div>
        <dsn-table [list]="outputsDocumentation"></dsn-table>

      </div>

      <div class="margin-top-48 margin-bottom-16">
        <h2 class="z-highlight-1">
          Source code
        </h2>
      </div>

      <markdown [src]="'assets/markdown/slider-confirmation/sample-source-01.md'"></markdown>


    </ng-template>

</dsn-container>
