<!-- Pryeccion de contenido. -->
<app-sticky-bar #stickybar>
  <h1>Contacts</h1>
  <button>Add</button>
  <button>Search</button>
</app-sticky-bar>

<div class="container" [style.margin-top.px]="stickybar.isSticky ? 80 : 0">

    <div class="contacts-list">
        <app-contact [appHighlight]="contactsService.selectedContact?.id == contact.id" *ngFor="let contact of contacts"
            [contact]="contact"
            (clicked)="onContactSelected($event)"
            (clickedService)="onContactSelectedService($event)">
        </app-contact>
    </div>

    <app-contact-detail></app-contact-detail>
</div>
