.contacts-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: row;
}

.sticky-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ccc6c6;
    margin: 0;
    padding-left: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
}