.body {
    background-image: url('res://background_login');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10;
}

.card {
    background-color: white;
    margin: 10;
}

.address {
    color: gray;
    font-size: 9;
}