<dsn-container [title]="'List'" [description]="description" [link]="link" [info]="info">
  <ng-template #exampleContentTemplate>
    <div class="container-fluid">

      <div class="box-border">
        <z-card style="width: 500px;">
          <div *ngFor="let item of listOne; let index=index">
            <z-list [index]="index">
              <div left>
                <z-avatar [size]="'large'" [urlImg]="item.urlAvatar"></z-avatar>
              </div>
              <div primaryTitle>
                {{item.textPrimary}}
              </div>
              <div primarySubtitle>
                {{item.subTextPrimary}}
              </div>
              <div secondaryTitle>
                {{item.textSecondary}}
              </div>
              <div secondarySubtitle>
                {{item.subTextSecondary}}
              </div>
            </z-list>
          </div>
        </z-card>
      </div>

      <div class="margin-top-80">
        <h2 class="z-highlight-1">Demo</h2>
      </div>

      <p class="z-highlight-2 margin-bottom-16 margin-top-72">Simple list</p>
      <div class="row margin-top-32 margin-bottom-48">
        <div class="col-xs-12 col-md-7 col-lg-7">
          <z-card>
            <div *ngFor="let item of listTwo; let index=index">
              <z-list [index]="index">
                <div primaryTitle>
                  <div class="{{item.classTextPrimary}}">
                    {{item.textPrimary}}
                  </div>
                </div>
                <div primarySubtitle>
                  <div class="{{item.classSubTextPrimary}}">
                    {{item.subTextPrimary}}
                  </div>
                </div>
                <div secondaryTitle>
                  <div class="{{item.classTextSecondary}}">
                    {{item.textSecondary}}
                  </div>
                </div>
                <div secondarySubtitle>
                  <div class="{{item.classSubTextSecondary}}">
                    {{item.subTextSecondary}}
                  </div>
                </div>
              </z-list>
            </div>
          </z-card>
        </div>
        <z-container-icon class="source" [size]="'very-small'" [iconName]="'icon-code-signs'"
          (clickEvent)="flagDefault = !flagDefault"></z-container-icon>
      </div>


      <div *ngIf="flagDefault" class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <markdown [data]="documentation.simpleHtml | language : 'html'"></markdown>
          <markdown [data]="documentation.simpleTs | language : 'ts'"></markdown>
          <markdown [data]="documentation.simpleCss | language : 'css'"></markdown>
        </div>
      </div>
      <div class="margin-top-96 line"></div>

      <p class="z-highlight-2 margin-bottom-16 margin-top-96">Simple list with meta icon</p>
      <div class="row margin-top-32 margin-bottom-48">
        <div class="col-xs-12 col-md-7 col-lg-7">
          <z-card>
            <div *ngFor="let item of listThree; let index=index">
              <z-list [index]="index">
                <div primaryTitle>
                  {{item.textPrimary}}
                </div>
                <div primarySubtitle>
                  {{item.subTextPrimary}}
                </div>
                <div secondaryTitle>
                  {{item.textSecondary}}
                </div>
                <div secondarySubtitle>
                  {{item.subTextSecondary}}
                </div>
                <div right>
                  <div class="icon icon-example">
                    <div class="icon-angle-right size-16"></div>
                  </div>
                </div>
              </z-list>
            </div>
          </z-card>
        </div>
        <z-container-icon class="source" [size]="'very-small'" [iconName]="'icon-code-signs'"
          (clickEvent)="flagDefaultMetaIcon = !flagDefaultMetaIcon"></z-container-icon>
      </div>


      <div *ngIf="flagDefaultMetaIcon" class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <markdown [data]="documentation.simpleMetaIconHtml | language : 'html'"></markdown>
          <markdown [data]="documentation.simpleMetaIconTs | language : 'ts'"></markdown>
        </div>
      </div>
      <div class="margin-top-96 line"></div>


      <p class="z-highlight-2 margin-bottom-16 margin-top-96">Visual support list</p>
      <div class="row margin-top-32 margin-bottom-48">
        <div class="col-xs-12 col-md-7 col-lg-7">
          <z-card>
            <div *ngFor="let item of listOne; let index=index">
              <z-list [index]="index">
                <div left>
                  <z-avatar [size]="'large'" [urlImg]="item.urlAvatar"></z-avatar>
                </div>
                <div primaryTitle>
                  {{item.textPrimary}}
                </div>
                <div primarySubtitle>
                  {{item.subTextPrimary}}
                </div>
                <div secondaryTitle>
                  {{item.textSecondary}}
                </div>
                <div secondarySubtitle>
                  {{item.subTextSecondary}}
                </div>
              </z-list>
            </div>
          </z-card>
        </div>
        <z-container-icon class="source" [size]="'very-small'" [iconName]="'icon-code-signs'"
          (clickEvent)="flagDefaultVisual = !flagDefaultVisual"></z-container-icon>
      </div>

      <div *ngIf="flagDefaultVisual" class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <markdown [data]="documentation.visualSupportImageHtml | language : 'html'"></markdown>
          <markdown [data]="documentation.visualSupportImageTs | language : 'ts'"></markdown>
        </div>
      </div>
      <div class="margin-top-96 line"></div>

      <p class="z-highlight-2 margin-bottom-16 margin-top-96">Visual support list with meta icon</p>
      <div class="row margin-top-32 margin-bottom-48">
        <div class="col-xs-12 col-md-7 col-lg-7">
          <z-card>
            <div *ngFor="let item of listFour; let index=index">
              <z-list [index]="index" [disabled]="item.disabled">
                <div left>
                  <z-container-icon [size]="'very-small'" [iconName]="item.iconName" [disabled]="item.disabled">
                  </z-container-icon>
                </div>
                <div primaryTitle>
                  {{item.textPrimary}}
                </div>
                <div primarySubtitle>
                  {{item.subTextPrimary}}
                </div>
                <div secondaryTitle>
                  {{item.textSecondary}}
                </div>
                <div secondarySubtitle>
                  {{item.subTextSecondary}}
                </div>
                <div right>
                  <div class="icon">
                    <div class="icon-angle-right size-16"></div>
                  </div>
                </div>
              </z-list>
            </div>
          </z-card>
        </div>
        <z-container-icon class="source" [size]="'very-small'" [iconName]="'icon-code-signs'"
          (clickEvent)="flagDefaultVisualMetaIcon = !flagDefaultVisualMetaIcon"></z-container-icon>
      </div>
      <div *ngIf="flagDefaultVisualMetaIcon" class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <markdown [data]="documentation.visualSupportIconHtml | language : 'html'"></markdown>
          <markdown [data]="documentation.visualSupportIconTs | language : 'ts'"></markdown>
        </div>
      </div>
      <div class="margin-top-96 line"></div>

      <p class="z-highlight-2 margin-bottom-16 margin-top-96">Control (Radiobuton)</p>
      <div class="row margin-top-32 margin-bottom-48">
        <div class="col-xs-12 col-md-7 col-lg-7">
          <z-card>
            <div *ngFor="let item of listFive; let index=index">
              <z-list [index]="index" (elementSelected)="radioSelected($event)" [disabled]="item.disabled">
                <div class="title" primaryTitle>
                  {{item.textPrimary}}
                </div>
                <div primarySubtitle>
                  {{item.subTextPrimary}}
                </div>
                <div secondaryTitle>
                  {{item.textSecondary}}
                </div>
                <div secondarySubtitle>
                  {{item.subTextSecondary}}
                </div>
                <div right>
                  <z-radiobutton [radiobutton]="item.radiobutton" [index]="index"></z-radiobutton>
                </div>
              </z-list>
            </div>
          </z-card>
        </div>
        <z-container-icon class="source" [size]="'very-small'" [iconName]="'icon-code-signs'"
          (clickEvent)="flagDefaultControlRadio = !flagDefaultControlRadio"></z-container-icon>
      </div>
      <div *ngIf="flagDefaultControlRadio" class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <markdown [data]="documentation.controlRadioButtonHtml | language : 'html'"></markdown>
          <markdown [data]="documentation.controlRadioButtonTs | language : 'ts'"></markdown>
        </div>
      </div>
      <div class="margin-top-96 line"></div>

      <p class="z-highlight-2 margin-bottom-16 margin-top-96">Control (checkbox)</p>
      <div class="row margin-top-32 margin-bottom-48">
        <div class="col-xs-12 col-md-7 col-lg-7">
          <z-card>
            <div *ngFor="let item of listSix; let index=index">
              <z-list [index]="index" (elementSelected)="checkSelected($event)">
                <div primaryTitle>
                  {{item.textPrimary}}
                </div>
                <div primarySubtitle>
                  {{item.subTextPrimary}}
                </div>
                <div secondaryTitle>
                  {{item.textSecondary}}
                </div>
                <div secondarySubtitle>
                  {{item.subTextSecondary}}
                </div>
                <div right>
                  <z-checkbox [checkbox]="item.checkbox"></z-checkbox>
                </div>
              </z-list>
            </div>
          </z-card>
        </div>
        <z-container-icon class="source" [size]="'very-small'" [iconName]="'icon-code-signs'"
          (clickEvent)="flagDefaultControlCheck = !flagDefaultControlCheck"></z-container-icon>
      </div>
      <div *ngIf="flagDefaultControlCheck" class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <markdown [data]="documentation.controlCheckboxHtml | language : 'html'"></markdown>
          <markdown [data]="documentation.controlCheckboxTs | language : 'ts'"></markdown>
        </div>
      </div>
      <div class="margin-top-96 line"></div>


      <p class="z-highlight-2 margin-bottom-16 margin-top-96">Control (switch)</p>
      <div class="row margin-top-32 margin-bottom-48">
        <div class="col-xs-12 col-md-7 col-lg-7">
          <z-card>
            <div *ngFor="let item of listSeven; let index=index">
              <z-list [index]="index" (elementSelected)="switchSelected($event)">
                <div primaryTitle>
                  {{item.textPrimary}}
                </div>
                <div primarySubtitle>
                  {{item.subTextPrimary}}
                </div>
                <div secondaryTitle>
                  {{item.textSecondary}}
                </div>
                <div secondarySubtitle>
                  {{item.subTextSecondary}}
                </div>
                <div right>
                  <z-switch [switch]="item.switch" [type]="'left-align'"></z-switch>
                </div>
              </z-list>
            </div>
          </z-card>
        </div>
        <z-container-icon class="source" [size]="'very-small'" [iconName]="'icon-code-signs'"
          (clickEvent)="flagDefaultControlSwitch = !flagDefaultControlSwitch"></z-container-icon>
      </div>
      <div *ngIf="flagDefaultControlSwitch" class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <markdown [data]="documentation.controlswitchHtml | language : 'html'"></markdown>
          <markdown [data]="documentation.controlSwitchTs | language : 'ts'"></markdown>
        </div>
      </div>
      <div class="margin-top-96 line"></div>



      <p class="z-highlight-2 margin-bottom-16 margin-top-96">Informative</p>
      <div class="row margin-top-32 margin-bottom-48">
        <div class="col-xs-12 col-md-7 col-lg-7">
          <z-card>
            <div *ngFor="let item of listTwo; let index=index">
              <z-list [index]="index" [clickable]="false">
                <div primaryTitle>
                  {{item.textPrimary}}
                </div>
                <div primarySubtitle>
                  {{item.subTextPrimary}}
                </div>
                <div secondaryTitle>
                  {{item.textSecondary}}
                </div>
                <div secondarySubtitle>
                  {{item.subTextSecondary}}
                </div>
              </z-list>
            </div>
          </z-card>
        </div>
        <z-container-icon class="source" [size]="'very-small'" [iconName]="'icon-code-signs'"
          (clickEvent)="flagDefaultInformative = !flagDefaultInformative"></z-container-icon>
      </div>
      <div *ngIf="flagDefaultInformative" class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
          <markdown [data]="documentation.informativeHtml | language : 'html'"></markdown>
          <markdown [data]="documentation.informativeTs | language : 'ts'"></markdown>
        </div>
      </div>
      <div class="margin-top-96 line"></div>

      <div class="z-highlight-1 margin-top-80 margin-bottom-16">
        Inputs
      </div>
      <dsn-table [list]="inputsDocumentation"></dsn-table>

      <div class="z-highlight-1 margin-top-80 margin-bottom-16">
        Outputs
      </div>
      <dsn-table [list]="outputsDocumentation"></dsn-table>

    </div>

  </ng-template>

</dsn-container>
