@import "../../styles/base";

.icon-example {
  color: $color-brand-500;
}

.box-border {
  height: 100%;
  padding: 30px 0 30px 0;
}

.link-doc {
  color: $color-brand-500;
  font-family: "URWGeometric";
  font-size: 18px;
  font-weight: bold;
  text-decoration: initial;
}

.text {
  height: 100%;
  margin: 1rem 0;
  width: 100%;
}

.z-success {
  color: $color-success-700;
}

.z-error {
  color: $color-error-700;
}

.z-warning {
  color: $color-warning-700;
}

@media screen and (max-width: $screen-s-min) {

  .z-text-primary {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 55%;
  }
}

