<div class="container">
  <dsn-navbar></dsn-navbar>
  <div class="row">
    <div class="col-md-2 col-lg-2 col-xl-2 main-menu">
      <dsn-load-list class="margin-top-8"></dsn-load-list>
    </div>
    <div class="col-xxs col-xs col-sm col-md-10 col-lg-10 col-xl-10">
      <section class="content">
        <h1 class="title-demo margin-bottom-16">
          Zumo Front Library
        </h1>

        <code class="code cursor" (click)="redirectPublish()">V 2.6.0 publish</code>
        <p class="z-body-text margin-top-16 margin-bottom-16">
          Zumo es una libreria que suministra un set de componentes de
          Angular, para ser reutilizado en varios proyectos de Naranja.
        </p>
        <img class="logo" src="../../assets/images/zumo-front.png" alt="" />

        <div class="text margin-top-48 ">
          <h2 class="subtitle-demo margin-bottom-16">Instalacion</h2>
          <p class="z-body-text margin-top-16">
            Zumo está disponible en un npm privado de Naranja. Antes de
            instalar esta librería, es necesario estar seguro de tener acceso
            al repositorio.
          </p>
        </div>

        <div class="text margin-top-48 ">
          <h2 class="subtitle-demo">Agregar archivo .npmrc</h2>
          <p class="z-body-text margin-top-16">
            Agregar este archivo permite ingresar al servidor npm privado de
            Naranja con el fin de poder descargar la librería. El mismo se
            agrega en la misma jerarquía que package.json. Con esta
            configuración, en el pipeline donde se instalan las dependencias
            se descargará Zumo automáticamente.
          </p>
        </div>

        <markdown ngPreserveWhitespaces>
          ```bash
          registry=http://10.10.90.191:8081/repository/nx-npm-group/
          init.author.name=Pipeline init.author.email=pipeline@naranja.com
          init.author.url=http://blog.example.com email=pipeline@naranaja.com
          always-auth=true _auth="bnBtLXp1bW86Tnp1bW9ucG0=" ```
        </markdown>

        <div class="margin-top-48 margin-bottom-32">
          <h2 class="subtitle-demo">Importar la librería en un proyecto:</h2>
        </div>
        <markdown ngPreserveWhitespaces>
          ```node
          npm install --save zumo
          ```
        </markdown>

        <div class="text margin-top-48 ">
          <h2 class="subtitle-demo ">
            Agregar configuraciones a angular.json
          </h2>
          <p class="z-body-text margin-top-16">
            Dentro del objeto json architect, en el array assets agregar:
          </p>
        </div>

        <markdown ngPreserveWhitespaces>
          ```json
          &#123;
          "glob": "**/*",
          "input": "node_modules/zumo/assets/fonts/",
          "output": "./assets/fonts/"
          &#125; ```
        </markdown>

        <div class="text margin-top-48 ">
          <h2 class="subtitle-demo ">
            Agregar configuraciones a tsconfig.json
          </h2>
          <p class="z-body-text margin-top-16">
            Agregar el objeto json, al final del archivo.
          </p>
        </div>

        <markdown ngPreserveWhitespaces>
          ```json
          "paths": &#123;
            "zumo/*": ["node_modules/zumo"]
          &#125;
          ```
        </markdown>

        <h2 class="subtitle-demo margin-top-48 margin-bottom-32">
          Incluir la librería en un proyecto:
        </h2>

        <markdown ngPreserveWhitespaces>
          ```typescript
          import &#123; NgModule &#125; from '@angular/core';
          // asi se importa la libreria
          import &#123; ZumoModule &#125; from 'zumo';
          @NgModule(&#123;
            imports: [
              // otros imports
              ZumoModule
            ]
          &#125;)
          export class SharedModule &#123; &#125; ```
        </markdown>

        <!-- setting up styles -->
        <h2 class="subtitle-demo margin-bottom-16 margin-top-48">
          Incluir estilos
        </h2>

        <p class="z-body-text margin-top-16">
          Para incluir los estilos de Zumo, agregar en el style.scss:
        </p>

        <markdown ngPreserveWhitespaces>
          ```sass
          // importar estilos
          @import "~zumo/vendor/reset";
          @import "~zumo/colors";
          @import "~zumo/variables";
          @import "~zumo/typography";
          @import "~zumo/spaces";
          @import "~zumo/iconsFont";
          @import "~zumo/html5";
          @import "~zumo/animations";
          @import "~zumo/vendor/flexboxgrid/flexboxgrid";
          ```
        </markdown>

        <h2 class="subtitle-demo margin-bottom-16 margin-top-48">
          Polyfills
        </h2>

        <p class="z-body-text margin-top-16">
          Para tener compatibilidad con algunos navegadores (como Internet
          Explorer 9, 10 u 11) hay que configurar el archivo polyfills.ts.
          <a class="link-doc" (click)="navigateTo()" [href]="link"
            >Conocer más.</a
          >
        </p>

        <markdown ngPreserveWhitespaces>
          ```typescript
          /** IE9, IE10 and IE11 requires all of the following polyfills. **/
          import 'core-js/es6/symbol';
          import 'core-js/es6/object';
          import 'core-js/es6/function';
          import 'core-js/es6/parse-int';
          import 'core-js/es6/parse-float';
          import 'core-js/es6/number';
          import 'core-js/es6/math';
          import 'core-js/es6/string';
          import 'core-js/es6/date';
          import 'core-js/es6/array';
          import 'core-js/es6/regexp';
          import 'core-js/es6/map';
          import 'core-js/es6/weak-map';
          import 'core-js/es6/set';

          /** IE10 and IE11 requires the following for NgClass support on SVG elements */
          import 'classlist.js';  // Run `npm install --save classlist.js`.

          /** IE10 and IE11 requires the following for the Reflect API. */
          import 'core-js/es6/reflect';

          /** Evergreen browsers require these. **/
          // Used for reflect-metadata in JIT. If you use AOT (and only Angular decorators), you can remove.
          import 'core-js/es7/reflect';

          /**
          * Web Animations `@angular/platform-browser/animations`
          * Only required if AnimationBuilder is used within the application and using IE/Edge or Safari.
          * Standard animation support in Angular DOES NOT require any polyfills (as of Angular 6.0).
          **/
          import 'web-animations-js';  // Run `npm install --save web-animations-js`.
        ```
        </markdown>

        <!-- components status-->
        <h2 class="subtitle-demo margin-bottom-16 margin-top-48">
          Estado de Componentes
        </h2>
        <div class="margin-bottom-24">
          <dsn-status [status]="status[0]"></dsn-status>
          <p class="z-body-text margin-top-16">
            El componente es estable, tiene soporte total y está listo para
            ser usado en productos.
          </p>
        </div>
        <div class="margin-bottom-24">
          <dsn-status [status]="status[1]"></dsn-status>
          <p class="z-body-text margin-top-16">
            El componente está en desarrollo, en una versión estable pero no
            con todas sus funcionalidades.
          </p>
        </div>
        <div class="margin-bottom-24">
          <dsn-status [status]="status[2]"></dsn-status>
          <p class="z-body-text margin-top-16">
            El componente ya no tiene mantenimiento ni se actualizará.
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
