@import "../../styles/base";

.description {
  background-color: $color-grayscale-900;
  padding: 1em;

  p {
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 1em 0;
  }
}

.logo {
  display: flex;
  max-width: 100%;
}

.link-doc {
  color: $color-brand-500;
  font-family: "Roboto";
  text-decoration: initial;
}

.cursor{
  cursor: pointer;
}

.text {
  margin-bottom: 0;
  margin-top: $space-48;
}

.navbar {
  padding: 0 20px 0 20px;
}

@media only screen and (max-width: $screen-m-min) {

  .navbar {
    position: absolute;
  }
}

@media only screen and (min-width: $screen-l-min) {

  .navbar {
    padding: 0 20px 0 $space-40;
    width: 20%;
  }
}

@media only screen and (min-width: $screen-xl-min) {

  .navbar {
    padding: 0 20px 0 60px;
    width: 15%;
  }
}

