@import "../../../lib/src/styles/colors";
@import "../../../lib/src/styles/spaces";
@import "../../../lib/src/styles/typography";


.logos{
  text-align: center;
  width: 100px;
}
#logo{
  width: 32px;
}


