@import "../../styles/_base";

.group-menu {
  margin-top: 35px;
}

.header {
  z-index: 1;
}

.navbar {

  &__content {
    align-items: center;
    display: contents;
    height: 100%;
    justify-content: flex-start;
    width: 100%;
  }

  &__icon {
    padding-right: 20px;
  }
}

.overlay {
  align-items: center;
  background-color: $color-grayscale-900;
  color: $color-grayscale-100;
  font-family: $text-font-stack;
  font-size: 12px;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  transition: 0.5s;
  top: 0;
  width: 84%;
  z-index: 110;

  &__icon {
    padding-right: 20px;
    padding-top: $space-24;
  }
}

.panel {
  margin: 0;
  min-height: calc(100vh - 3rem);

  .panel-left {
    background-color: $color-grayscale-100;
    padding: 0;
    margin-top: 5%;

    &__logo {
      align-items: center;
      display: flex;
      justify-content: left;
      padding: 10px 15px 5px 15px;

      img {
        width: 98px;
        height: 30px;
        object-fit: contain;
      }
    }
  }

  .panel-right {
    position: relative;
    width: 100%;
  }
}

.logo {
  cursor: pointer;
  position: fixed;
  width: 93px;
  margin-left: 8px;

  &--no-fixed {
    position: inherit;
  }
}

@media screen and (min-width: $screen-l-max) {

  .overlay {
    padding-left: auto;
    padding-right: auto;
  }

  .navbar__icon {
    display: none;
  }
}

@media screen and (max-width: $screen-l-max) {

  .overlay {
    padding-left: $space-40;
    padding-right: $space-32;
  }
}

@media screen and (max-width: $screen-s-min) {

  .overlay {
    padding-left: $space-24;
    padding-right: $space-24;
  }

  .panel-left {
    display: none;
  }
}



@media screen and (min-width: $screen-m-min) {
  .navbar__icon {
    display: none;
  }
}


@media screen and (max-width: $screen-m-min) {
  .logo {
    margin-left: 0px;
  }

}
