<header class="header margin-top-32 margin-bottom-64">
  <nav class="navbar row">
    <div class="navbar__content col-xxs col-xs col-sm col-md col-lg">
      <div class="icon navbar__icon" (click)="onClickMenu()">
        <p class="icon-menu size-24"></p>
      </div>
      <div class="logo" [ngClass]="{'logo--no-fixed': isMobile}" (click)="navigateTo()">
        <img src="assets/images/zumo-logo.png" class="logo" [ngClass]="{'logo--no-fixed': isMobile}" alt="Logo Zumo">
      </div>
    </div>
    <div *ngIf="showMenu" class="overlay">
      <div class="overlay__icon">
        <div class="icon" (click)="onClickMenu()">
          <p class="icon-menu size-24"></p>
        </div>
      </div>
      <div class="group-menu">
        <dsn-load-list class="margin-top-8" [isMenu]="true"></dsn-load-list>
      </div>
    </div>
  </nav>
</header>