
<app-modal title="{{ data.user.apellido + ', ' + data.user.nombre | titlecase}}"
  textBtnLeft="CANCELAR"
  textBtnRight="CONFIRMAR"
  (onClickClose)="closeModal()"
  (onClickBtnLeft)="closeModal()"
  (onClickBtnRight)="closeModal()">

  <div class="scrollbar container">

    <mat-accordion togglePosition="before" class="example-headers-align" multi>
      <!-- #enddocregion multi -->
      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Sitios asociados
          </mat-panel-title>
        </mat-expansion-panel-header>
    
          <!-- Body -->
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
              <button mat-icon-button disabled></button>
              <mat-checkbox color="primary"
                  [checked]="checklistSelection.isSelected(node)"
                  (change)="todoLeafItemSelectionToggle(node)">{{node.item}}
              </mat-checkbox>
            </mat-tree-node>
          
            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.item">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <mat-checkbox color="primary" [checked]="descendantsAllSelected(node)"
                  [indeterminate]="descendantsPartiallySelected(node)"
                  (change)="todoItemSelectionToggle(node)">{{node.item}}
              </mat-checkbox>
            </mat-tree-node>
          </mat-tree> 
      
      
      </mat-expansion-panel>
   

      <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Otros grupos donde se encuentra
          </mat-panel-title>
          <!-- <mat-panel-description>
            Inform the date you wish to travel
            <mat-icon>date_range</mat-icon>
          </mat-panel-description> -->
        </mat-expansion-panel-header>
    
        <ul>
          <li *ngFor="let item of data.user.grupos_asociados">{{item.nombre_grupo}}</li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

  </div>

</app-modal>