<dsn-container [title]="'Snackbar'" [description]="description" [link]="link" [info]="info">
  <ng-template #exampleContentTemplate>
    <div class="container-fluid">
      <div class="margin-top-80">
        <h2 class="z-highlight-1">Demo</h2>
      </div>

      <p class="z-highlight-2 margin-bottom-32 margin-top-32">Single line</p>

      <div class="row margin-top-32">

        <z-button [type]="'link'" class="align-left" (clickButton)="displaySnackbar()" [text]="'Single line'">
        </z-button>
        <z-button [type]="'link'" class="align-left" (clickButton)="displaySnackbarDos()" [text]="'Multiple lines'">
        </z-button>
        <z-button [type]="'link'" class="align-left" (clickButton)="displaySnackbarTres()"
          [text]="'Single line action'"></z-button>
        <z-button [type]="'link'" class="align-left" (clickButton)="displaySnackbarCuatro()"
          [text]="'Multiple line action'"></z-button>
      </div>
    </div>

    <div class="z-highlight-1 margin-top-80 margin-bottom-16">
      Uso
    </div>

    <p class="z-body-text">
      La forma de usar el componente snackbar es a través de un servicio,
      que proporciona la apertura y cierre del componente. Se implementa una interfaz
      que permite el envío de los datos necesarios para el uso del mismo.
    </p>

    <div class="z-highlight-1 margin-top-80 margin-bottom-16">
      Inputs
    </div>
    <dsn-table [list]="inputsDocumentation"></dsn-table>

    <div class="z-highlight-1 margin-top-80 margin-bottom-16">
      Outputs
    </div>
    <dsn-table [list]="outputsDocumentation"></dsn-table>

    <div class="margin-top-48 margin-bottom-16">
      <h2 class="z-highlight-1">
        Source code
      </h2>
    </div>

    <markdown [src]="'assets/markdown/snackbar/sample-source-01.md'"></markdown>


  </ng-template>

</dsn-container>