@if( pokemon() === null ) {

<div class="flex justify-center">
  <h1 class="text-4xl font-bold">Loading...</h1>
</div>

} @else { @let myPokemon = pokemon()!;

<section class="flex flex-col justify-center">
  <div class="flex justify-center">
    <h1 class="text-4xl font-bold capitalize my-5">{{ myPokemon.name }}</h1>
  </div>
</section>

<section class="flex flex-col justify-center items-center w-full">
  <img
    [src]="myPokemon.sprites.other?.['official-artwork']?.front_default"
    [alt]="myPokemon.name"
    class="w-64 h-64"
    width="256px"
    height="256px"
  />

  @if( myPokemon.cries.latest !== null ) {
  <audio controls class="my-10">
    <source [src]="myPokemon.cries.latest" type="audio/wav" />
  </audio>
  }
</section>

<section class="flex flex-col justify-center">
  <h2 class="text-2xl font-bold mt-2">Abilities</h2>
  <div class="flex flex-wrap items-center">
    @for (ability of myPokemon.abilities; track ability.ability.name) {
    <span class="mx-2">
      {{ ability.ability.name }}
    </span>
    }
  </div>
</section>

}
