<section class="side-menu">
  <div class="list-menu">
    <div *ngFor="let cmp of links; let i = index;">
      <z-accordion [title]="cmp.sectionName" [isNotLine]="true">
        <div class="list-menu__panel-list">
          <div class="list-menu__panel-list__item" *ngFor="let item of links[i].list"
            (click)="onMenuItemSelected(item.id, item.route)" [attr.data-menu-item]="item.id">
            <div class="list-menu__panel-list__item">
              <span
                [ngClass]="{'list-menu__panel-list__item--active': route === '/angular/'+item.id, 'list-menu__panel-list__item--menu': isMenu}">
                {{item.title}}
              </span>
            </div>
          </div>
        </div>
      </z-accordion>

    </div>
  </div>
</section>
