<div #Spinner class="margin-top-40 row">
  <!-- Extra-large -->
  <div class="col-xs-2">
    <z-loading size="extra-large"></z-loading>
  </div>
  <!-- Large -->
  <div class="col-xs-2">
    <z-loading size="large"></z-loading>
  </div>
  <!-- Medium -->
  <div class="col-xs-2">
    <z-loading size="medium"></z-loading>
  </div>
  <!-- Small -->
  <div class="col-xs-2">
    <z-loading size="small"></z-loading>
  </div>
  <!-- Very-small -->
  <div class="col-xs-2">
    <z-loading size="very-small"></z-loading>
  </div>
</div>
