<dsn-container title="Otras definiciones" [description]="description">
  <ng-template #exampleContentTemplate>
    <div class="container-fluid">

      <p
        class="z-highlight-2 margin-bottom-16 margin-top-96 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
        Z-INDEX</p>
      <div class="row margin-top-32 margin-bottom-48">
        <div
          class="col-md-offset-1 col-lg-offset-2 col-xs-12 col-sm-12 col-md-10 col-lg-8">
          <z-card [isNotHover]="true" [isNotShadow]="true">
            <div *ngFor="let item of zIndex">
              <z-list [clickable]="false">
                <div primaryTitle>
                  {{item.title}}
                </div>
                <div primarySubtitle>
                  {{item.subtitlePrimary}}
                </div>
                <div secondaryTitle>
                  <div class="sub-title">
                    {{item.number}}
                  </div>
                </div>
                <div secondarySubtitle>
                  {{item.subTextSecondary}}
                </div>
              </z-list>
            </div>
          </z-card>
        </div>
      </div>


      <p
        class="z-highlight-2 margin-bottom-16 margin-top-96 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
        Browser Support</p>
      <div class="row margin-top-32 margin-bottom-48">
        <div class="col-md-offset-1 col-lg-offset-2 col-xs-12 col-sm-12 col-md-10 col-lg-8">
          <z-card [isNotHover]="true" [isNotShadow]="true">
            <div *ngFor="let item of browserSupport">
              <z-list [clickable]="false">
                <div left>
                  <z-avatar [urlImg]="item.urlImg"></z-avatar>
                </div>
                <div primaryTitle>
                  {{item.title}}
                </div>
                <div primarySubtitle>
                  <div class="title">
                    {{item.version}}
                  </div>
                </div>
                <div secondaryTitle>
                  <div class="doble">
                    <z-message [type]="item.state"></z-message>
                    <div class="sub-title-suport-title">
                      {{item.sf}}
                    </div>
                  </div>
                </div>
                <div secondarySubtitle>
                  <div class="sub-title-suport-subtitle">
                    {{item.sv}}
                  </div>
                </div>
              </z-list>
            </div>
          </z-card>
        </div>
      </div>
    </div>

  </ng-template>

</dsn-container>