<div #Avatar class="margin-top-40 row">
  <div class="col-xs-2 col-sm-2">
    <z-avatar [size]="'small'"
      [urlImg]="'https://media.licdn.com/dms/image/C4E03AQEp3pf0ULlLUg/profile-displayphoto-shrink_800_800/0?e=1567641600&v=beta&t=IE09HFhGbBluPNxFvJRznBAPj4AbeG68qIlrnKhjZ5o'">
    </z-avatar>
  </div>
  <div class="col-xs-2 col-sm-2">
    <z-avatar [size]="'medium'"
      [urlImg]="'https://media.licdn.com/dms/image/C4E03AQGUrnPB_4cxUg/profile-displayphoto-shrink_200_200/0?e=1567641600&v=beta&t=6t2m7zDM454NtA0HNccD6eH7ArkGiUk1r12LvVtruFQ'">
    </z-avatar>

  </div>
  <div class="col-xs-2 col-sm-2">
    <z-avatar [size]="'large'"
      [urlImg]="'https://media.licdn.com/dms/image/C4D03AQEtu4lIMH2iKw/profile-displayphoto-shrink_800_800/0?e=1567641600&v=beta&t=Dq5dVbExrGSt4KNKIw3lX0zSqy8v5gCxAUJfe0Ssw3o'">
    </z-avatar>
  </div>

  <div class="col-xs-2 col-sm-2">
    <z-avatar [size]="'extra-large'"
      [urlImg]="'https://media.licdn.com/dms/image/C4E03AQErMIF64e9oFg/profile-displayphoto-shrink_800_800/0?e=1567641600&v=beta&t=cRQHRRzAODfUcnXakprK15jR9gfr9kVH40NWc7UZEpA'">
    </z-avatar>
  </div>
</div>

<div class="margin-top-20 row">
  <div class="col-xs-2 col-sm-2">
    <z-avatar class="padding-16" [size]="'small'"></z-avatar>
  </div>
  <div class="col-xs-2 col-sm-2">
    <z-avatar class="padding-16" [size]="'medium'"></z-avatar>
  </div>
  <div class="col-xs-2 col-sm-2">
    <z-avatar class="padding-16" [size]="'large'"></z-avatar>
  </div>
  <div class="col-xs-2 col-sm-2">
    <z-avatar class="padding-16" [size]="'extra-large'"></z-avatar>
  </div>
</div>

<div class="margin-top-20 row">
  <div class="col-xs-2 col-sm-2">
    <z-avatar class="padding-16" [initials]="'A'" [size]="'small'"></z-avatar>
  </div>
  <div class="col-xs-2 col-sm-2">
    <z-avatar class="padding-16" [initials]="'B'" [size]="'medium'"></z-avatar>
  </div>
  <div class="col-xs-2 col-sm-2">
    <z-avatar class="padding-16" [initials]="'C'" [size]="'large'"></z-avatar>
  </div>
  <div class="col-xs-2 col-sm-2">
    <z-avatar class="padding-16" [initials]="'D'" [size]="'extra-large'"></z-avatar>
  </div>
</div>
