<div class="container-example">
  <p class="z-body-text">
    Tarjeta Naranja requiere que todos los visitantes a este sitio se adhieran a los Términos y
    Condiciones que aparecen a continuación. En caso de no estar de acuerdo con los siguientes
    Términos y Condiciones no acceda a este sitio, o a cualquier página del mismo.
  </p>

  <p class="z-body-text padding-top-16">
    Lo indicado en el presente sitio es a título informativo. Toda oferta de distintos tipos
    de servicios y/o productos, planes, condiciones, tasas, vigencia, etc., está sujeta a
    modificaciones sin previo aviso, según políticas de mercado y/o internas de TARJETA NARANJA.
    Por favor, previamente a ingresar a este sitio, lea los presentes Términos y Condiciones.
  </p>

  <p class="z-body-text padding-top-16">
    Por el solo hecho de ingresar a hacer uso de este sitio y/o cualquier página del mismo,
    usted (el "Usuario") acepta y se adhiere de forma inmediata a todos y cada uno
    de los siguientes Términos y Condiciones:
  </p>
</div>
