<div class="container">
  <dsn-navbar></dsn-navbar>
  <div class="row margin-bottom-80">
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 main-menu">
      <dsn-load-list class="margin-top-8"></dsn-load-list>
    </div>
    <div class="col-xxs col-xs col-sm col-md col-lg-10 col-xl-10">
      <section class="content">
        <div>
          <h1 class="title-demo margin-bottom-16">
            Zumo styleguide
          </h1>
        </div>
        <div>
          <p class="z-body-text margin-top-32 margin-bottom-16">
            Zumo provee una guia de estilos para los proyectos que por arquitectura no pueden implementar el set de
            componentes.
          </p>
        </div>
        <section>
          <p class="z-highlight-2 margin-top-32 margin-bottom-32">Checkbox</p>
          <div>
            <label class="z-chbx">
              <input type="checkbox"/>
              <span class="checkbox-icon"></span>
              <span class="checkbox-label">Ejemplo</span>
            </label>
          </div>
          <div>
            <label class="z-chbx">
              <input type="checkbox"/>
              <span class="checkbox-icon"></span>
              <span class="checkbox-label">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Non esse sit ad doloremque quae placeat officiis rerum labore blanditiis mollitia.
                Quos esse nisi reiciendis repudiandae exercitationem at. Iusto, eveniet dolores!
              </span>
            </label>
          </div>
          <div>
            <label class="z-chbx">
              <input type="checkbox"/>
              <span class="checkbox-icon"></span>
              <span class="checkbox-label">Ejemplo</span>
            </label>
          </div>
        </section>
        <section>
          <p class="z-highlight-2 margin-top-32 margin-bottom-32">Checkbox disabled</p>
          <div>
            <label class="z-chbx">
              <input type="checkbox" disabled/>
              <span class="checkbox-icon"></span>
              <span class="checkbox-label">Ejemplo</span>
            </label>
          </div>
          <br/>
        </section>
        <markdown [data]="documentation.checkbox | language : 'html'"></markdown>
        <div class="margin-top-96 line"></div>
        <section class="margin-bottom-32">
          <p class="z-highlight-2 margin-top-96 margin-bottom-32">Slider</p>
          <div>
            <input type="range" class="z-slider" min="1" max="100" value="1"/>
          </div>
        </section>
        <markdown [data]="documentation.slider | language : 'html'"></markdown>
        <div class="margin-top-96 line"></div>
        <section>
          <p class="z-highlight-2 margin-top-96 margin-bottom-32">Radiobutton</p>
          <div>
            <label class="z-radio">
              <input type="radio" name="radio-group"/>
              <span class="radio-icon"></span>
              <span class="radio-label">Ejemplo</span>
            </label>
          </div>
          <div>
            <label class="z-radio">
              <input type="radio" name="radio-group"/>
              <span class="radio-icon"></span>
              <span class="radio-label">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Aperiam dicta cum inventore maxime incidunt quas consequatur at,
                repudiandae tempore eos quia facere molestias soluta rem animi in ratione aliquam illo.</span>
            </label>
          </div>
          <div>
            <label class="z-radio">
              <input type="radio" name="radio-group"/>
              <span class="radio-icon"></span>
              <span class="radio-label">Ejemplo</span>
            </label>
          </div>
        </section>
        <section class="margin-bottom-32">
          <p class="z-highlight-2 margin-top-32 margin-bottom-32">Radiobutton disabled</p>
          <div>
            <label class="z-radio">
              <input type="radio" name="radio-group" disabled/>
              <span class="radio-icon"></span>
              <span class="radio-label">Ejemplo</span>
            </label>
          </div>
        </section>
        <markdown [data]="documentation.radio | language : 'html'"></markdown>
        <div class="margin-top-96 line"></div>
        <section>
          <p class="z-highlight-2 margin-top-96 margin-bottom-32">Select menu</p>
          <div>
            <div class="z-select">
              <select class="select-box">
                <option hidden>Placeholder</option>
                <option>Ejemplo 1</option>
                <option>Ejemplo 2</option>
                <option>Ejemplo 3</option>
              </select>
              <i class="icon-angle-down icon-select size-16"></i>
            </div>
          </div>
        </section>
        <section class="margin-bottom-32">
          <p class="z-highlight-2 margin-top-96 margin-bottom-32">Select menu disabled</p>
          <div>
            <div class="z-select">
              <select class="select-box" disabled>
                <option hidden>Placeholder</option>
                <option>Ejemplo 1</option>
                <option>Ejemplo 2</option>
                <option>Ejemplo 3</option>
              </select>
              <i class="icon-angle-down icon-select size-16"></i>
            </div>
          </div>
        </section>
        <markdown [data]="documentation.select | language : 'html'"></markdown>
        <div class="margin-top-96 line"></div>
        <section class="margin-top-96 margin-bottom-32">
          <div class="row">
            <div class="col-md-4">
              <p class="z-highlight-2 margin-top-32 margin-bottom-32">Button primary</p>
              <button class="z-button-primary ripple-white">Boton</button>
            </div>
            <div class="col-md-4">
              <p class="z-highlight-2 margin-top-32 margin-bottom-32">Button primary disabled</p>
              <button class="z-button-primary" disabled>Boton</button>
            </div>
            <div class="col-md-4">
              <p class="z-highlight-2 margin-top-32 margin-bottom-32">Button primary loading</p>
              <button class="z-button-primary">
                <div class="z-loader-white"></div>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <p class="z-highlight-2 margin-top-32 margin-bottom-32">Button secondary</p>
              <button class="z-button-secondary ripple-main">Boton</button>
            </div>
            <div class="col-md-4">
              <p class="z-highlight-2 margin-top-32 margin-bottom-32">Button secondary disabled</p>
              <button class="z-button-secondary" disabled>Boton</button>
            </div>
            <div class="col-md-4">
              <p class="z-highlight-2 margin-top-32 margin-bottom-32">Button secondary loading</p>
              <button class="z-button-secondary">
                <div class="z-loader-main"></div>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <p class="z-highlight-2 margin-top-32 margin-bottom-32">Button sticky</p>
              <button class="z-button-sticky ripple-white">Boton</button>
            </div>
            <div class="col-md-4">
              <p class="z-highlight-2 margin-top-32 margin-bottom-32">Button sticky disabled</p>
              <button class="z-button-sticky" disabled>Boton</button>
            </div>
            <div class="col-md-4">
              <p class="z-highlight-2 margin-top-32 margin-bottom-32">Button sticky loading</p>
              <button class="z-button-sticky">
                <div class="z-loader-white"></div>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <p class="z-highlight-2 margin-top-32 margin-bottom-32">Button link</p>
              <button class="z-button-link ripple-main">Boton</button>
            </div>
            <div class="col-md-4">
              <p class="z-highlight-2 margin-top-32 margin-bottom-32">Button link disabled</p>
              <button class="z-button-link" disabled>Boton</button>
            </div>
          </div>
        </section>
        <markdown [data]="documentation.button | language : 'html'"></markdown>
        <div class="margin-top-96 line"></div>
        <section class="margin-bottom-32">
          <p class="z-highlight-2 margin-top-96 margin-bottom-32">Switch</p>

          <label class="z-switch-html">
            <input type="checkbox"/>
            <span class="switch-icon"></span>
            <span class="switch-label">Ejemplo</span>
          </label>

          <label class="z-switch-html">
            <input type="checkbox"/>
            <span class="switch-icon"></span>
            <span class="switch-label">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam officia autem ipsum odio exercitationem,
              nemo aliquid ullam dicta maiores iusto deleniti numquam non, libero atque quidem neque, natus ut. Amet.
            </span>
          </label>

          <p class="z-highlight-2 margin-top-32 margin-bottom-32">Switch disabled</p>
          <label class="z-switch-html">
            <input type="checkbox" disabled/>
            <span class="switch-icon"></span>
            <span class="switch-label">Ejemplo</span>
          </label>
        </section>
        <markdown [data]="documentation.switch | language : 'html'"></markdown>
        <div class="margin-top-96 line"></div>
        <section class="margin-bottom-32">
          <p class="z-highlight-2 margin-top-96 margin-bottom-32">Snackbar</p>
          <div class="z-snack">
            <div class="texto-snack">Texto del Snackbar.</div>
            <div class="acciones-snack">
              <a class="link-snack">Link del Snackbar</a>
              <i class="icon-cross icono-snack size-16"></i>
            </div>
          </div>
         <br>
          <div class="z-snack">
            <div class="texto-snack">Texto del Snackbar 1, Texto del Snackbar 2, Texto del Snackbar 3.</div>
            <div class="acciones-snack">
              <a class="link-snack">Link del Snackbar</a>
              <i class="icon-cross icono-snack size-16"></i>
            </div>
          </div>
        </section>
        <markdown [data]="documentation.snackbar | language : 'html'"></markdown>
        <div class="margin-top-96 line"></div>
        <section class="margin-bottom-32">
          <p class="z-highlight-2 margin-top-96 margin-bottom-32">Alert success</p>
          <div class="z-alert z-alert__success">
            <div class="icon icono-alert">
              <i class="icon-check-circle size-24"></i>
            </div>
            <label class="texto-alert">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eum non tenetur, ducimus iure aspernatur laudantium quae impedit autem beatae nulla nostrum accusantium suscipit id illo deserunt officia, vel quos.</label>
          </div>
          <p class="z-highlight-2 margin-top-32 margin-bottom-32">Alert warning</p>
          <div class="z-alert z-alert__warning">
            <div class="icon icono-alert">
              <i class="icon-alert-circle size-24"></i>
            </div>
            <label class="texto-alert">Texto del Alert.</label>
          </div>
          <p class="z-highlight-2 margin-top-32 margin-bottom-32">Alert error</p>
          <div class="z-alert z-alert__error">
            <div class="icon icono-alert">
              <i class="icon-cross-circle size-24"></i>
            </div>
            <label class="texto-alert">Texto del Alert.</label>
          </div>
        </section>
        <markdown [data]="documentation.alert | language : 'html'"></markdown>
        <div class="margin-top-96 line"></div>
        <section class="margin-bottom-32">
          <p class="z-highlight-2 margin-top-96 margin-bottom-32">Card</p>
          <div class="z-card-html ripple-card">
            <div class="card-content">
              <p>Texto de la card.</p>
            </div>
          </div>
        </section>
        <markdown [data]="documentation.card | language : 'html'"></markdown>
        <div class="margin-top-96 line"></div>
        <section class="margin-bottom-32">
          <p class="z-highlight-2 margin-top-96 margin-bottom-32">List</p>
          <div class="z-card-html">
            <ul>
              <li class="z-list-html z-list-html__li-texto">
                <div class="z-list-html__li-texto__primary">
                  <p>Texto largo de ejemplo para probar que esto funcione súper bien y no se rompa al ser doble
                    línea</p>
                  <p class="z-list-html__li-texto__sub-title">Secundario</p>
                </div>
                <div class="z-list-html__li-texto__secondary">
                  <p>$200</p>
                  <p class="z-list-html__li-texto__sub-title">-$135,50</p>
                </div>
              </li>
              <li class=" z-list-html z-list-html__li-texto">
                <div class="z-list-html__li-texto__primary">
                  <p>Texto de ejemplo para probar que esto funcione</p>
                  <p class="z-list-html__li-texto__sub-title">Secundario</p>
                </div>
                <div class="z-list-html__li-texto__secondary">
                  <p>$200</p>
                  <p class="z-list-html__li-texto__sub-title">-$135,50</p>
                </div>
              </li>
              <li class="z-list-html z-list-html__li-texto">
                <div class="z-list-html__li-texto__primary">
                  <p>Texto</p>
                  <p class="z-list-html__li-texto__sub-title">Secundario</p>
                </div>
                <div class="z-list-html__li-texto__secondary">
                  <p>$200</p>
                  <p class="z-list-html__li-texto__sub-title">-$135,50</p>
                </div>
              </li>
              <li class="z-list-html z-list-html--disabled">
                <div class="z-list-html__li-texto__primary">
                  <p>Texto</p>
                  <p class="z-list-html__li-texto__sub-title">Secundario</p>
                </div>
                <div class="z-list-html__li-texto__secondary">
                  <p>$200</p>
                  <p class="z-list-html__li-texto__sub-title">-$135,50</p>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <markdown [data]="documentation.list | language : 'html'"></markdown>
        <div class="margin-top-96 line"></div>
        <section class="margin-bottom-32">
          <p class="z-highlight-2 margin-top-96 margin-bottom-32">Chips</p>
          <label class="z-chip">
            <input type="radio" name="radio-group"/>
            <span class="ripple-chip"><p class="chip-text">$50</p></span>
          </label>
          <label class="z-chip">
            <input type="radio" name="radio-group"/>
            <span class="ripple-chip"><p class="chip-text">$150</p></span>
          </label>
          <label class="z-chip">
            <input type="radio" name="radio-group"/>
            <span class="ripple-chip"><p class="chip-text">$250000</p></span>
          </label>
          <label class="z-chip">
            <input type="radio" name="radio-group"/>
            <span class="ripple-chip"><p class="chip-text">1</p></span>
          </label>
          <p class="z-highlight-2 margin-top-32 margin-bottom-32">Chips disabled</p>
            <label class="z-chip">
              <input type="radio" name="radio-group" disabled/>
              <span class="disabled"><p class="chip-text">$50</p></span>
            </label>
        </section>
        <markdown [data]="documentation.chip | language : 'html'"></markdown>
        <div class="margin-top-96 line"></div>
      </section>
      <section class="margin-bottom-32">
        <p class="z-highlight-2 margin-top-96 margin-bottom-32">Table</p>
        <div>
      <table class="z-table">
        <tr class="tr-header">
          <th >Columna 1</th>
          <td>Columna 2</td>
        </tr>
        <tr class="tr-content">
          <th>Ejemplo</th>
          <td>Ejemplo</td>
        </tr>
        <tr class="tr-content">
          <td>Ejemplo</td>
          <td>Ejemplo</td>
        </tr>
        <tr class="tr-content">
          <td>Ejemplo</td>
          <td>Ejemplo</td>
        </tr>
        <tr class="tr-content">
          <td >Ejemplo</td>
          <td >Ejemplo</td>
        </tr>
      </table>
        </div>
      </section>
      <markdown [data]="documentation.table | language : 'html'"></markdown>
      <div class="margin-top-96 line"></div>
      <section class="margin-bottom-32">
        <p class="z-highlight-2 margin-top-96 margin-bottom-32">Avatar Image</p>
        <div class="row">
          <div class="col-md-3">
            <div class="z-avatar-html">
              <img class="z-avatar-html__img z-avatar-html__extra-large" src="https://scontent-eze1-1.xx.fbcdn.net/v/t1.0-9/47108571_10218089231529103_7057558434803089408_n.jpg?_nc_cat=100&_nc_ht=scontent-eze1-1.xx&oh=f48495c2842942f1ad885d0af427dd18&oe=5D47DE2D">
            </div>
          </div>
          <div class="col-md-3">
            <div class="z-avatar-html">
              <img class="z-avatar-html__img z-avatar-html__large" src="https://scontent-eze1-1.xx.fbcdn.net/v/t1.0-9/12049611_10205193344049561_4568887130604220863_n.jpg?_nc_cat=111&_nc_ht=scontent-eze1-1.xx&oh=1d17f974ccb7e6b38e27c81c1f9d1c8d&oe=5D09CC8B">
            </div>
          </div>
          <div class="col-md-3">
            <div class="z-avatar-html">
              <img class="z-avatar-html__img z-avatar-html__medium" src="https://scontent-eze1-1.xx.fbcdn.net/v/t1.0-9/28056701_10215580373290979_3123619428205998560_n.jpg?_nc_cat=101&_nc_ht=scontent-eze1-1.xx&oh=8a701981e26a77fb90ab029619333fcc&oe=5D40CA72">
            </div>
          </div>
          <div class="col-md-3">
            <div class="z-avatar-html">
              <img class="z-avatar-html__img z-avatar-html__small" src="http://gravatar.com/avatar/953d4a723bed85b720fe14eba8084b43?s=80">
            </div>
          </div>
        </div>
        <p class="z-highlight-2 margin-top-32 margin-bottom-32">Avatar Initials</p>
        <div class="row">
          <div class="col-md-3">
            <div class="z-avatar-html">
              <div class="z-avatar-html__char z-avatar-html__extra-large"><p class="z-avatar-html__char--initials">V</p></div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="z-avatar-html">
              <div class="z-avatar-html__char z-avatar-html__large"> <p class="z-avatar-html__char--initials">K</p> </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="z-avatar-html">
              <div class="z-avatar-html__char z-avatar-html__medium"> <p class="z-avatar-html__char--initials">L</p> </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="z-avatar-html">
              <div class="z-avatar-html__char z-avatar-html__small"> <p class="z-avatar-html__char--initials">J</p> </div>
            </div>
          </div>
        </div>
        <p class="z-highlight-2 margin-top-32 margin-bottom-32">Avatar Default</p>
        <div class="row">
          <div class="col-md-3">
            <div class="z-avatar-html">
              <div class="z-avatar-html__icon z-avatar-html__extra-large">
                <div class="icon"><p class="icon-user size-32"></p></div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="z-avatar-html">
              <div class="z-avatar-html__icon z-avatar-html__large">
                <div class="icon"><p class="icon-user size-24"></p></div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="z-avatar-html">
              <div class="z-avatar-html__icon z-avatar-html__medium">
                <div class="icon"><p class="icon-user size-16"></p></div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="z-avatar-html">
              <div class="z-avatar-html__icon z-avatar-html__small">
                <div class="icon"><p class="icon-user size-12"></p></div>
              </div>
            </div>
          </div>
        </div>

      </section>
      <markdown [data]="documentation.avatar | language : 'html'"></markdown>
    </div>
  </div>
</div>
