@import "../../styles/base";


.box-border {
    align-items: center;
    border-color: $color-grayscale-300;
    border-style: solid;
    border-width: 1px;
    height: 240px;
    justify-content: center;
    padding: 32px 0;
}

.subtitle-lvl-3 {
    color: $color-grayscale-700;
    font-family: $text-font-stack;
}

.test {
    width: 300px;
    height:200px;
    justify-content: center;
    display: flex;
    align-items: center;
    border: solid $color-grayscale-700 1px;
    border-radius: 10px;
}

.tit {
    color: $color-grayscale-800;
    font-family: $primary-font-stack;
    font-size: 27px;
    font-weight: bold;
    letter-spacing: -0.3px;
    line-height: 1.12;
    padding: 0;
}
