<div class="container margin-bottom-40">
  <dsn-navbar></dsn-navbar>

  <!-- Kitchen Sink -->
  <div class="margin-top-40">
    <h2 class="z-hero">Kitchen Sink</h2>
  </div>

  <!-- 01 - Icons -->
  <div class="margin-top-40">
    <h2 class="z-title">01 - Icons</h2>
    <dsn-ksicons></dsn-ksicons>
  </div>

  <!-- 02 - Accordion -->
  <div class="margin-top-40">
    <h2 class="z-title">02 - Accordion</h2>
    <dsn-ksaccordion></dsn-ksaccordion>
  </div>

  <!-- 03 - Alert message -->
  <div class="margin-top-40">
    <h2 class="z-title">03 - Alert message</h2>
    <dsn-ksalertmessage></dsn-ksalertmessage>
  </div>

  <!-- 04 - Avatar -->
  <div class="margin-top-40">
    <h2 class="z-title">04 - Avatar</h2>
    <dsn-ksavatar></dsn-ksavatar>
  </div>

  <!-- 05 - Buttons -->
  <div class="margin-top-40">
    <h2 class="z-title">05 - Buttons</h2>
    <dsn-ksbuttons></dsn-ksbuttons>
  </div>

  <!-- 06 - Card -->
  <div class="margin-top-40">
    <h2 class="z-title">06 - Card</h2>
    <dsn-kscard></dsn-kscard>
  </div>

  <!-- 07 - Checkbox -->
  <div class="margin-top-40">
    <h2 class="z-title">07 - Checkbox</h2>
    <dsn-kscheckbox></dsn-kscheckbox>
  </div>

  <!-- 08 - Chips -->
  <div class="margin-top-40">
    <h2 class="z-title">08 - Chips</h2>
    <dsn-kschips></dsn-kschips>
  </div>

  <!-- 09 - Confirmation Slider -->
  <div class="margin-top-40">
    <h2 class="z-title">09 - Confirmation slider</h2>
    <dsn-ksconfirmationslider></dsn-ksconfirmationslider>
  </div>

  <!-- 10 - Dialogs -->
  <div class="margin-top-40">
    <h2 class="z-title">10 - Dialogs</h2>
    <dsn-ksdialogs></dsn-ksdialogs>
  </div>

  <!-- 11 - Lists -->
  <div class="margin-top-40">
    <h2 class="z-title">11 - Lists</h2>
    <dsn-kslists></dsn-kslists>
  </div>

  <!-- 12 - RadioButton -->
  <div class="margin-top-40">
    <h2 class="z-title">12 - Radio button</h2>
    <dsn-ksradiobutton></dsn-ksradiobutton>
  </div>

  <!-- 13 - Select -->
  <div class="margin-top-40">
    <h2 class="z-title">13 - Select</h2>
    <dsn-ksselect></dsn-ksselect>
  </div>

  <!-- 14 - Slider Control -->
  <div class="margin-top-40">
    <h2 class="z-title">14 - Slider Control</h2>
    <dsn-ksslidercontrol></dsn-ksslidercontrol>
  </div>

  <!-- 15 - Snackbar -->
  <div class="margin-top-40">
    <h2 class="z-title">15 - Snackbar</h2>
    <dsn-kssnackbar></dsn-kssnackbar>
  </div>

  <!-- 16 - Spinner -->
  <div class="margin-top-40">
    <h2 class="z-title">16 - Spinner</h2>
    <dsn-ksspinner></dsn-ksspinner>
  </div>

  <!-- 17 - Switch -->
  <div class="margin-top-40">
    <h2 class="z-title">17 - Switch</h2>
    <dsn-ksswitch></dsn-ksswitch>
  </div>

  <!-- 18 - Tabs -->
  <div class="margin-top-40">
    <h2 class="z-title">18 - Tabs</h2>
    <dsn-kstabs></dsn-kstabs>
  </div>

  <!-- 19 - Textfield -->
  <div class="margin-top-40">
    <h2 class="z-title">19 - Textfield</h2>
    <dsn-kstextfield></dsn-kstextfield>
  </div>

  <!-- 20 - Textfield -->
  <div class="margin-top-40">
    <h2 class="z-title">20 - Predictive Textfield</h2>
    <dsn-kspredictivetextfield></dsn-kspredictivetextfield>
  </div>

</div>
