<div class="imagen"><img class="logo" src="../../../assets/images/Isologo.png" alt="logo-naranja" /></div>
<div [class]="idTypeRouter"></div>
<div class="box-border">
  <z-card id="noHover" [clickable]="false">
    <div class="icon" (click)="close()">
      <i class="icon-cross size-24"></i>
    </div>
    <div class="row margin-bottom-24">
      <z-container-icon [size]="'extra-large'" [colorBackground]="colorBackground" [colorIcon]="colorIcon"
        [iconName]="icon"></z-container-icon>
    </div>
    <h1 class="z-title margin-top-8 margin-bottom-8">{{title}}</h1>
    <p class="z-body-text margin-bottom-32">{{text}}</p>
    <z-button text={{textButton}}></z-button>
  </z-card>
</div>
