<form [formGroup]="componentForm" id="FormcomponentForm">
    <mat-card class="mat-top mat-elevation-z4">
        <mat-card-content>

            <div class="form-row">

                <div class="form-group col-md-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label class="color-black">Cliente</mat-label>
                        <input matInput type="text" placeholder="Cliente" name="nameClient" formControlName="Client" [matAutocomplete]="autoClient">
                        <mat-error *ngIf="componentForm.get('Client').hasError('required')">
                            Por favor, ingrese el nombre del cliente.
                        </mat-error>
                        <mat-autocomplete #autoClient="matAutocomplete" [displayWith]="displayClient">
                            <mat-option *ngFor="let client of listClients" [value]="client">
                                {{ client.Name }}
                            </mat-option>
                        </mat-autocomplete>

                    </mat-form-field>

                </div>

                <div class="form-group col-md-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label class="color-black">Proyecto</mat-label>
                        <input matInput type="text" name="nameProject" placeholder="Proyecto" formControlName="Project" [matAutocomplete]="autoProject">
                        <mat-error *ngIf="componentForm.get('Project').hasError('required')">
                            Por favor, ingrese el nombre del proyecto.
                        </mat-error>
                        <mat-autocomplete #autoProject="matAutocomplete" [displayWith]="displayProject">
                            <mat-option *ngFor="let project of listProjects" [value]="project" (onSelectionChange)="onSelectedOption($event.source.selected, project);">
                                {{ project.Name }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="form-group col-md-1">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label class="color-black">Monto</mat-label>
                        <mat-icon matSuffix>attach_money</mat-icon>
                        <input matInput placeholder="Monto" name="totalAmountname" formControlName="TotalAmount" type="number">
                    </mat-form-field>
                </div>

                <div class="form-group col-md-1">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label class="color-black">Porcentaje</mat-label>
                        <mat-select name="Percentage" formControlName="Percentage" (keypress)="validationsService.numberOnly($event)" (selectionChange)="mapPricingTotalAmount()">
                            <mat-option value="1.5">50%</mat-option>
                            <mat-option value="2">100%</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-1">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label class="color-black">Cantidad</mat-label>
                        <input matInput placeholder="Cantidad" name="NumberHoursname" formControlName="NumberHours" (keypress)="validationsService.numberOnly($event)" (change)="mapPricingTotalAmount()" type="number">
                        <mat-error *ngIf="componentForm.get('NumberHours').hasError('min')">
                            La cantidad no puede ser menor o igual cero.
                        </mat-error>
                        <mat-error *ngIf="componentForm.get('NumberHours').hasError('required')">
                            Por favor, ingrese la Cantidad.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="form-group col-md-1">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label class="color-black">Base de Cálculo</mat-label>
                        <input matInput placeholder="Base de Cálculo" name="baseNumberHoursName" formControlName="BaseNumberHours" (keypress)="validationsService.numberOnly($event)" (change)="mapPricingTotalAmount()" type="number">
                        <mat-error *ngIf="componentForm.get('BaseNumberHours').hasError('min')">
                            El valor no puede ser menor o igual cero.
                        </mat-error>
                        <mat-error *ngIf="componentForm.get('BaseNumberHours').hasError('required')">
                            Por favor, ingrese la base de cálculo.
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md-1" style="margin-top: 15px;">
                    <mat-checkbox name="CurrentMonthName" formControlName="CurrentMonth">Mes Actual</mat-checkbox>
                </div>

                <div class="form-group col-md-3" *ngIf="appService.currentStatus == modeEnum.New">
                    <div class="form-row pull-right">
                        <button type="button" mat-raised-button color="primary" class="m-1" (click)="addGuards()">
                          <span>Agregar</span>
                      </button>
                        <button type="button" mat-stroked-button color="primary" class="m-1" (click)="comeback()">
                        <span>Cancelar</span>
                    </button>
                    </div>
                </div>
            </div>

        </mat-card-content>
    </mat-card>
</form>